Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/AccountsMSSR/ACCMSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AH.ACCMS.MODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AH.ACCMS.MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:88/ACCMS/ACCMSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" />
  <xs:complexType name="Purpose">
    <xs:sequence>
      <xs:element minOccurs="0" name="COA" nillable="true" type="tns:COA" />
      <xs:element minOccurs="0" name="Codeallocation" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q1:EntryParameter" />
      <xs:element minOccurs="0" name="GrpID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrpName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurposeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurposeTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurposeTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Purposecategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurposecategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Purpose" nillable="true" type="tns:Purpose" />
  <xs:complexType name="COA">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="COA" nillable="true" type="tns:COA" />
  <xs:complexType name="ArrayOfPurpose">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Purpose" nillable="true" type="tns:Purpose" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurpose" nillable="true" type="tns:ArrayOfPurpose" />
  <xs:complexType name="ArrayOfCollectionSummaryRO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CollectionSummaryRO" nillable="true" type="tns:CollectionSummaryRO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCollectionSummaryRO" nillable="true" type="tns:ArrayOfCollectionSummaryRO" />
  <xs:complexType name="CollectionSummaryRO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Net_Amt" type="xs:double" />
      <xs:element minOccurs="0" name="Purpose_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Purpose_Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Purpose_Title_Beng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transac_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollectionSummaryRO" nillable="true" type="tns:CollectionSummaryRO" />
  <xs:complexType name="Branch">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchFlag" type="xs:int" />
      <xs:element minOccurs="0" name="BranchID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q2:EntryParameter" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="intDefaultFlag" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Branch" nillable="true" type="tns:Branch" />
  <xs:complexType name="ArrayOfBranch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Branch" nillable="true" type="tns:Branch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBranch" nillable="true" type="tns:ArrayOfBranch" />
  <xs:complexType name="GroupsConfig">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q3:EntryParameter" />
      <xs:element minOccurs="0" name="GrCashFlow" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrDefaultName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrDefaultgroup" type="xs:long" />
      <xs:element minOccurs="0" name="GrName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrNature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrParent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrPrimaryType" type="xs:long" />
      <xs:element minOccurs="0" name="GrUnder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grlevel" type="xs:long" />
      <xs:element minOccurs="0" name="Lngsllno" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupsConfig" nillable="true" type="tns:GroupsConfig" />
  <xs:complexType name="ArrayOfGroupsConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupsConfig" nillable="true" type="tns:GroupsConfig" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupsConfig" nillable="true" type="tns:ArrayOfGroupsConfig" />
  <xs:complexType name="ArrayOfLedgers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ledgers" nillable="true" type="tns:Ledgers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLedgers" nillable="true" type="tns:ArrayOfLedgers" />
  <xs:complexType name="Ledgers">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeAllocation" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q4:EntryParameter" />
      <xs:element minOccurs="0" name="dblopeningBalance" type="xs:double" />
      <xs:element minOccurs="0" name="intCostCenter" type="xs:int" />
      <xs:element minOccurs="0" name="lngDefaultLedger" type="xs:long" />
      <xs:element minOccurs="0" name="lngLedgerPrimaryType" type="xs:long" />
      <xs:element minOccurs="0" name="lngLegerGroup" type="xs:long" />
      <xs:element minOccurs="0" name="lngSlNo" type="xs:long" />
      <xs:element minOccurs="0" name="strAddress1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strCurrencsysymbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strDRCR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strFax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strGrUnder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strLedgerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strLedgerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="straddress2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ledgers" nillable="true" type="tns:Ledgers" />
  <xs:complexType name="ArrayOfVoucherTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VoucherTransaction" nillable="true" type="tns:VoucherTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVoucherTransaction" nillable="true" type="tns:ArrayOfVoucherTransaction" />
  <xs:complexType name="VoucherTransaction">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q5:EntryParameter" />
      <xs:element minOccurs="0" name="LedgerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleRefNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modulestatus" type="xs:int" />
      <xs:element minOccurs="0" name="PostStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Primarygroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dblCreditAmount" type="xs:double" />
      <xs:element minOccurs="0" name="dblDebitamount" type="xs:double" />
      <xs:element minOccurs="0" name="dblNetDebitAmount" type="xs:double" />
      <xs:element minOccurs="0" name="dbleNetCreditAmount" type="xs:double" />
      <xs:element minOccurs="0" name="entryby" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="intCashflow" type="xs:int" />
      <xs:element minOccurs="0" name="intVoucherPos" type="xs:int" />
      <xs:element minOccurs="0" name="intmodetype" type="xs:int" />
      <xs:element minOccurs="0" name="strBranchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strBranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strChequeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strChequedate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strDrCr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strDrawnon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strLedgerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strMonthID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strNarration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strRefNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strReferseLedger" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strSingleNarration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strVoucherDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vintVoucherType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoucherTransaction" nillable="true" type="tns:VoucherTransaction" />
  <xs:complexType name="FixedAssets">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssetsIdenticode" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q6:EntryParameter" />
      <xs:element minOccurs="0" name="FloorNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Locationcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManufactureDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManufacturerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManufacturerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameofOrigin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaseDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNo" type="xs:long" />
      <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dblAssetsAccDep" type="xs:double" />
      <xs:element minOccurs="0" name="dblAssetsDepRate" type="xs:double" />
      <xs:element minOccurs="0" name="dblAssetsLife" type="xs:double" />
      <xs:element minOccurs="0" name="dblPercent" type="xs:double" />
      <xs:element minOccurs="0" name="dblPurchaseCost" type="xs:double" />
      <xs:element minOccurs="0" name="dblWrittenValue" type="xs:double" />
      <xs:element minOccurs="0" name="dblsalvageValue" type="xs:double" />
      <xs:element minOccurs="0" name="dteDepEffDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="intDepMethod" type="xs:int" />
      <xs:element minOccurs="0" name="strDepMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strLedgerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strLedgerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="supplierCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FixedAssets" nillable="true" type="tns:FixedAssets" />
  <xs:complexType name="ArrayOfFixedAssets">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FixedAssets" nillable="true" type="tns:FixedAssets" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFixedAssets" nillable="true" type="tns:ArrayOfFixedAssets" />
  <xs:complexType name="ArrayOfLedgerRO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LedgerRO" nillable="true" type="tns:LedgerRO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLedgerRO" nillable="true" type="tns:ArrayOfLedgerRO" />
  <xs:complexType name="LedgerRO">
    <xs:sequence>
      <xs:element minOccurs="0" name="codeAllocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dblCrAmount" type="xs:double" />
      <xs:element minOccurs="0" name="dblDrAmount" type="xs:double" />
      <xs:element minOccurs="0" name="dblOpening" type="xs:double" />
      <xs:element minOccurs="0" name="dteChecueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dteDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="intVouchertype" type="xs:int" />
      <xs:element minOccurs="0" name="strAgnstRefNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strChequeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strDrawnon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strLedgerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strLedgerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strNarration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strVoucherNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strsingleNarration" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LedgerRO" nillable="true" type="tns:LedgerRO" />
  <xs:complexType name="ArrayOfTrailBalanceRO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrailBalanceRO" nillable="true" type="tns:TrailBalanceRO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrailBalanceRO" nillable="true" type="tns:ArrayOfTrailBalanceRO" />
  <xs:complexType name="TrailBalanceRO">
    <xs:sequence>
      <xs:element minOccurs="0" name="dblCreditAmount" type="xs:double" />
      <xs:element minOccurs="0" name="dblDebitAmount" type="xs:double" />
      <xs:element minOccurs="0" name="dblOpening" type="xs:double" />
      <xs:element minOccurs="0" name="gr_amount" type="xs:double" />
      <xs:element minOccurs="0" name="intPrimaryType" type="xs:int" />
      <xs:element minOccurs="0" name="strGrName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strGrParent" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrailBalanceRO" nillable="true" type="tns:TrailBalanceRO" />
  <xs:complexType name="ArrayOfVoucherRO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VoucherRO" nillable="true" type="tns:VoucherRO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVoucherRO" nillable="true" type="tns:ArrayOfVoucherRO" />
  <xs:complexType name="VoucherRO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeAllocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dblCrAmount" type="xs:double" />
      <xs:element minOccurs="0" name="dblDrAmount" type="xs:double" />
      <xs:element minOccurs="0" name="dteChecueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dteDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="strChequeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strDrawnon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strLedgerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strNarration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strVoucherNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strsingleNarration" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoucherRO" nillable="true" type="tns:VoucherRO" />
  <xs:complexType name="LedgerOpening">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DRCR" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q7:EntryParameter" />
      <xs:element minOccurs="0" name="LedgerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LedgerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpnDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpnID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dblOpeningAmount" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LedgerOpening" nillable="true" type="tns:LedgerOpening" />
  <xs:complexType name="ArrayOfLedgerOpening">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LedgerOpening" nillable="true" type="tns:LedgerOpening" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLedgerOpening" nillable="true" type="tns:ArrayOfLedgerOpening" />
  <xs:complexType name="ArrayOfBalanceSheetRO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BalanceSheetRO" nillable="true" type="tns:BalanceSheetRO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBalanceSheetRO" nillable="true" type="tns:ArrayOfBalanceSheetRO" />
  <xs:complexType name="BalanceSheetRO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element minOccurs="0" name="grName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="grParent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gr_amount" type="xs:double" />
      <xs:element minOccurs="0" name="intPrimaryType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BalanceSheetRO" nillable="true" type="tns:BalanceSheetRO" />
  <xs:complexType name="ArrayOfInccomeExpensesRO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InccomeExpensesRO" nillable="true" type="tns:InccomeExpensesRO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInccomeExpensesRO" nillable="true" type="tns:ArrayOfInccomeExpensesRO" />
  <xs:complexType name="InccomeExpensesRO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Expenses" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Income" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dblExpenses" type="xs:double" />
      <xs:element minOccurs="0" name="dblIncome" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InccomeExpensesRO" nillable="true" type="tns:InccomeExpensesRO" />
  <xs:complexType name="ArrayOfProfitlossRO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfitlossRO" nillable="true" type="tns:ProfitlossRO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfitlossRO" nillable="true" type="tns:ArrayOfProfitlossRO" />
  <xs:complexType name="ProfitlossRO">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LedgerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="amount" type="xs:double" />
      <xs:element minOccurs="0" name="primaryType" type="xs:int" />
      <xs:element minOccurs="0" name="seq" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfitlossRO" nillable="true" type="tns:ProfitlossRO" />
  <xs:complexType name="ArrayOfTreeviewRO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TreeviewRO" nillable="true" type="tns:TreeviewRO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTreeviewRO" nillable="true" type="tns:ArrayOfTreeviewRO" />
  <xs:complexType name="TreeviewRO">
    <xs:sequence>
      <xs:element minOccurs="0" name="grlevel" type="xs:int" />
      <xs:element minOccurs="0" name="grname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="grparent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="grprimarytype" type="xs:int" />
      <xs:element minOccurs="0" name="lname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TreeviewRO" nillable="true" type="tns:TreeviewRO" />
  <xs:complexType name="CostCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categorycode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Categoryname" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q8:EntryParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CostCategory" nillable="true" type="tns:CostCategory" />
  <xs:complexType name="ArrayOfCostCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CostCategory" nillable="true" type="tns:CostCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCostCategory" nillable="true" type="tns:ArrayOfCostCategory" />
  <xs:complexType name="DepartmentRevenueHead">
    <xs:sequence>
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="Department" nillable="true" type="q9:Department" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q10:EntryParameter" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="RevenueHead" nillable="true" type="q11:RevenueHead" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="RevenueHeadGroup" nillable="true" type="q12:RevenueHeadGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentRevenueHead" nillable="true" type="tns:DepartmentRevenueHead" />
  <xs:complexType name="ArrayOfDepartmentRevenueHead">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartmentRevenueHead" nillable="true" type="tns:DepartmentRevenueHead" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartmentRevenueHead" nillable="true" type="tns:ArrayOfDepartmentRevenueHead" />
  <xs:complexType name="ArrayOfCostCenterTransation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CostCenterTransation" nillable="true" type="tns:CostCenterTransation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCostCenterTransation" nillable="true" type="tns:ArrayOfCostCenterTransation" />
  <xs:complexType name="CostCenterTransation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="CategoryTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Categorycode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoatCenterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostCenteCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepName" nillable="true" type="xs:string" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q13:EntryParameter" />
      <xs:element minOccurs="0" name="GrCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LedgerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Trandate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CostCenterTransation" nillable="true" type="tns:CostCenterTransation" />
  <xs:complexType name="ArrayOfCostCategoryRO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CostCategoryRO" nillable="true" type="tns:CostCategoryRO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCostCategoryRO" nillable="true" type="tns:ArrayOfCostCategoryRO" />
  <xs:complexType name="CostCategoryRO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="CategoryTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Categorycode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoatCenterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostCenteCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LedgerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TranDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransactionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CostCategoryRO" nillable="true" type="tns:CostCategoryRO" />
  <xs:complexType name="ArrayOfCashflowRO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CashflowRO" nillable="true" type="tns:CashflowRO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCashflowRO" nillable="true" type="tns:ArrayOfCashflowRO" />
  <xs:complexType name="CashflowRO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CashflowAmount" type="xs:double" />
      <xs:element minOccurs="0" name="CashflowGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CashflowLedger" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CashflowOpening" type="xs:double" />
      <xs:element minOccurs="0" name="CashflowSign" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cashflowtype" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CashflowRO" nillable="true" type="tns:CashflowRO" />
  <xs:complexType name="ArrayOfCostCategoryTreeview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CostCategoryTreeview" nillable="true" type="tns:CostCategoryTreeview" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCostCategoryTreeview" nillable="true" type="tns:ArrayOfCostCategoryTreeview" />
  <xs:complexType name="CostCategoryTreeview">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostCenterCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostCenterID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostcenterName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CostCategoryTreeview" nillable="true" type="tns:CostCategoryTreeview" />
  <xs:complexType name="ArrayOfCollectionRO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CollectionRO" nillable="true" type="tns:CollectionRO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCollectionRO" nillable="true" type="tns:ArrayOfCollectionRO" />
  <xs:complexType name="CollectionRO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeAllocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetAmount" type="xs:double" />
      <xs:element minOccurs="0" name="RefNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="moduleRefNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="voucherType" type="xs:int" />
      <xs:element minOccurs="0" name="voucherdate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollectionRO" nillable="true" type="tns:CollectionRO" />
  <xs:complexType name="ArrayOfBankReconcilation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankReconcilation" nillable="true" type="tns:BankReconcilation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankReconcilation" nillable="true" type="tns:ArrayOfBankReconcilation" />
  <xs:complexType name="BankReconcilation">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditAmount" type="xs:double" />
      <xs:element minOccurs="0" name="DebitAmount" type="xs:double" />
      <xs:element minOccurs="0" name="Drawnon" nillable="true" type="xs:string" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q14:EntryParameter" />
      <xs:element minOccurs="0" name="PostStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoucherToby" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chequeDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chequeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="childAmount" type="xs:double" />
      <xs:element minOccurs="0" name="lName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="voucherDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="voucherRefKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="voucherType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankReconcilation" nillable="true" type="tns:BankReconcilation" />
  <xs:complexType name="ArrayOfBankReconcilationRO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankReconcilationRO" nillable="true" type="tns:BankReconcilationRO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankReconcilationRO" nillable="true" type="tns:ArrayOfBankReconcilationRO" />
  <xs:complexType name="BankReconcilationRO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BranchID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditAmount" type="xs:double" />
      <xs:element minOccurs="0" name="DebitAmount" type="xs:double" />
      <xs:element minOccurs="0" name="Drawnon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Opening" type="xs:double" />
      <xs:element minOccurs="0" name="RefNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoucherToby" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bankChargeAmount" type="xs:double" />
      <xs:element minOccurs="0" name="bankChargeNetAmount" type="xs:double" />
      <xs:element minOccurs="0" name="bankChargePer" type="xs:double" />
      <xs:element minOccurs="0" name="chequeDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chequeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="childAmount" type="xs:double" />
      <xs:element minOccurs="0" name="lName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="voucherDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="voucherRefKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="voucherType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankReconcilationRO" nillable="true" type="tns:BankReconcilationRO" />
  <xs:complexType name="FixedAssetsAdjustment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Branchid" nillable="true" type="xs:string" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q15:EntryParameter" />
      <xs:element minOccurs="0" name="LedgerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ledgercode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="adjustmentAmount" type="xs:double" />
      <xs:element minOccurs="0" name="adjustmentdate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FixedAssetsAdjustment" nillable="true" type="tns:FixedAssetsAdjustment" />
  <xs:complexType name="ArrayOfFixedAssetsAdjustment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FixedAssetsAdjustment" nillable="true" type="tns:FixedAssetsAdjustment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFixedAssetsAdjustment" nillable="true" type="tns:ArrayOfFixedAssetsAdjustment" />
  <xs:complexType name="ArrayOfFixedAssetsRO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FixedAssetsRO" nillable="true" type="tns:FixedAssetsRO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFixedAssetsRO" nillable="true" type="tns:ArrayOfFixedAssetsRO" />
  <xs:complexType name="FixedAssetsRO">
    <xs:sequence>
      <xs:element minOccurs="0" name="assetaddthisperiod" type="xs:double" />
      <xs:element minOccurs="0" name="assetdepaccu" type="xs:double" />
      <xs:element minOccurs="0" name="assetdepadjustment" type="xs:double" />
      <xs:element minOccurs="0" name="assetdeprate" type="xs:double" />
      <xs:element minOccurs="0" name="assetdepthisperiod" type="xs:double" />
      <xs:element minOccurs="0" name="assetdisposalthisperiod" type="xs:double" />
      <xs:element minOccurs="0" name="assetnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="assetprebal" type="xs:double" />
      <xs:element minOccurs="0" name="assetpurchasevalue" type="xs:double" />
      <xs:element minOccurs="0" name="branchid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="noofdays" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FixedAssetsRO" nillable="true" type="tns:FixedAssetsRO" />
  <xs:complexType name="ArrayOfFixedAssetsDetailsRO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FixedAssetsDetailsRO" nillable="true" type="tns:FixedAssetsDetailsRO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFixedAssetsDetailsRO" nillable="true" type="tns:ArrayOfFixedAssetsDetailsRO" />
  <xs:complexType name="FixedAssetsDetailsRO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FloorNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accumalateddep" type="xs:double" />
      <xs:element minOccurs="0" name="assetslNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="assetslife" type="xs:long" />
      <xs:element minOccurs="0" name="countryoforigin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="depMethod" type="xs:int" />
      <xs:element minOccurs="0" name="depRate" type="xs:double" />
      <xs:element minOccurs="0" name="effectivedate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="identificationNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="locId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="locationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="manuafacturerDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="manufacturerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="manufacturercode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modelNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="percent" type="xs:long" />
      <xs:element minOccurs="0" name="purchaseDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="purchasecost" type="xs:double" />
      <xs:element minOccurs="0" name="salvagevalue" type="xs:double" />
      <xs:element minOccurs="0" name="suppid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="supplierName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="writtnvalue" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FixedAssetsDetailsRO" nillable="true" type="tns:FixedAssetsDetailsRO" />
  <xs:complexType name="FinancialYear">
    <xs:sequence>
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q16:EntryParameter" />
      <xs:element minOccurs="0" name="FinancialYearForm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinancialYearTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FinancialYear" nillable="true" type="tns:FinancialYear" />
  <xs:complexType name="ArrayOfFinancialYear">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FinancialYear" nillable="true" type="tns:FinancialYear" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFinancialYear" nillable="true" type="tns:ArrayOfFinancialYear" />
</xs:schema>