Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/AccountsMSSR/ACCMSService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EntryParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntryBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MachineID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SysDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateByName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntryParameter" nillable="true" type="tns:EntryParameter" />
  <xs:complexType name="RevenueHeadGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntryParameter" nillable="true" type="tns:EntryParameter" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" type="xs:short" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleBeng" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RevenueHeadGroup" nillable="true" type="tns:RevenueHeadGroup" />
  <xs:complexType name="RevenueHead">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="EntryParameter" nillable="true" type="tns:EntryParameter" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" type="xs:short" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RevenueAccountsCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RevenueHeadGroup" nillable="true" type="tns:RevenueHeadGroup" />
      <xs:element minOccurs="0" name="RevenueHeadString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleBeng" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RevenueHead" nillable="true" type="tns:RevenueHead" />
  <xs:complexType name="ArrayOfRevenueHeadGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RevenueHeadGroup" nillable="true" type="tns:RevenueHeadGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRevenueHeadGroup" nillable="true" type="tns:ArrayOfRevenueHeadGroup" />
  <xs:complexType name="ArrayOfRevenueHead">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RevenueHead" nillable="true" type="tns:RevenueHead" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRevenueHead" nillable="true" type="tns:ArrayOfRevenueHead" />
  <xs:complexType name="Department">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentCategory" nillable="true" type="tns:DepartmentCategory" />
      <xs:element minOccurs="0" name="DepartmentGroup" nillable="true" type="tns:DepartmentGroup" />
      <xs:element minOccurs="0" name="DepartmentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentType" nillable="true" type="tns:DepartmentType" />
      <xs:element minOccurs="0" name="DepartmentUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentUnitHead" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentUnitHeadID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntryParameter" nillable="true" type="tns:EntryParameter" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serial" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Department" nillable="true" type="tns:Department" />
  <xs:complexType name="DepartmentCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentCategoryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentCategoryTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentCategoryTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentType" nillable="true" type="tns:DepartmentType" />
      <xs:element minOccurs="0" name="EntryParameter" nillable="true" type="tns:EntryParameter" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentCategory" nillable="true" type="tns:DepartmentCategory" />
  <xs:complexType name="DepartmentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="TypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentType" nillable="true" type="tns:DepartmentType" />
  <xs:complexType name="DepartmentGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentCategory" nillable="true" type="tns:DepartmentCategory" />
      <xs:element minOccurs="0" name="DepartmentGroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentGroupTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentGroupTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentType" nillable="true" type="tns:DepartmentType" />
      <xs:element minOccurs="0" name="DepartmentTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntryParameter" nillable="true" type="tns:EntryParameter" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serial" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentGroup" nillable="true" type="tns:DepartmentGroup" />
  <xs:complexType name="ArrayOfOPDPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OPDPayment" nillable="true" type="tns:OPDPayment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOPDPayment" nillable="true" type="tns:ArrayOfOPDPayment" />
  <xs:complexType name="OPDPayment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PatientPayment">
        <xs:sequence>
          <xs:element minOccurs="0" name="CashAmount" type="xs:double" />
          <xs:element minOccurs="0" name="ConsultantFee" type="xs:decimal" />
          <xs:element minOccurs="0" name="CreditCardAmount" type="xs:double" />
          <xs:element minOccurs="0" name="CreditCardBankID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreditCardBankName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreditCardNo" type="xs:int" />
          <xs:element minOccurs="0" name="CreditCardType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DebitCardAmount" type="xs:double" />
          <xs:element minOccurs="0" name="DebitCardBankID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DebitCardBankName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DebitCardNo" type="xs:int" />
          <xs:element minOccurs="0" name="DebitCardType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaymentString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RefferedFee" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OPDPayment" nillable="true" type="tns:OPDPayment" />
  <xs:complexType name="PatientPayment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="Advance" type="xs:decimal" />
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="AmountGiven" type="xs:decimal" />
          <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DepartmentUnit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DepositType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeptAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="Discount" type="xs:decimal" />
          <xs:element minOccurs="0" name="DiscountBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HCN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NetAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="PaymentDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PaymentType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PreviousDue" type="xs:decimal" />
          <xs:element minOccurs="0" name="PurposeID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PurposeTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReffDept" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReffDeptAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="ReffDeptUnit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegistrationNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Staff" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VAT" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PatientPayment" nillable="true" type="tns:PatientPayment" />
</xs:schema>