Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/DIETSR/DIETService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AH.FNB.MODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AH.FNB.MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:112/DIET/DIETService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" />
  <xs:complexType name="FoodItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="DietCatID" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q1:EntryParameter" />
      <xs:element minOccurs="0" name="FoodCatID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FoodItem" nillable="true" type="tns:FoodItem" />
  <xs:complexType name="MealSetup">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q2:EntryParameter" />
      <xs:element minOccurs="0" name="MealID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MealName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MealSetup" nillable="true" type="tns:MealSetup" />
  <xs:complexType name="ArrayOfMealSetup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MealSetup" nillable="true" type="tns:MealSetup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMealSetup" nillable="true" type="tns:ArrayOfMealSetup" />
</xs:schema>