Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/DIETSR/DIETService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:112/DIET/DIETService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AH.DIET.MODEL" />
  <xs:import schemaLocation="http://localhost:112/DIET/DIETService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:112/DIET/DIETService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AH.FNB.MODEL" />
  <xs:import schemaLocation="http://localhost:112/DIET/DIETService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" />
  <xs:element name="SaveIPDPatientDiet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AH.DIET.MODEL" minOccurs="0" name="diet" nillable="true" type="q1:IPDDiet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIPDPatientDietResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveIPDPatientDietResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDietDic">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDietDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDietDicResult" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIPDDiet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nurseStationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIPDDietResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AH.DIET.MODEL" minOccurs="0" name="GetIPDDietResult" nillable="true" type="q3:ArrayOfIPDDiet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDietList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDietListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AH.DIET.MODEL" minOccurs="0" name="GetDietListResult" nillable="true" type="q4:ArrayOfIPDDiet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIPDPatientDietReg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AH.DIET.MODEL" minOccurs="0" name="diet" nillable="true" type="q5:IPDDiet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIPDPatientDietRegResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveIPDPatientDietRegResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNurseStnWiseDietType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nsID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNurseStnWiseDietTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNurseStnWiseDietTypeResult" nillable="true" type="q6:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderedIPDPatientDietList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AH.DIET.MODEL" minOccurs="0" name="diet" nillable="true" type="q7:IPDDiet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderedIPDPatientDietListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOrderedIPDPatientDietListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DietTypeOrderedDelevered">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nsID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DietTypeOrderedDeleveredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AH.DIET.MODEL" minOccurs="0" name="DietTypeOrderedDeleveredResult" nillable="true" type="q8:ArrayOfIPDDiet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalOrderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="mealId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AH.DIET.MODEL" minOccurs="0" name="GetTotalOrderListResult" nillable="true" type="q9:ArrayOfIPDDiet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Total">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="mealId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AH.DIET.MODEL" minOccurs="0" name="TotalResult" nillable="true" type="q10:ArrayOfIPDDiet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadmealSetup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadmealSetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AH.FNB.MODEL" minOccurs="0" name="LoadmealSetupResult" nillable="true" type="q11:ArrayOfMealSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmittedPatientListNSWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nurseStationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmittedPatientListNSWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetAdmittedPatientListNSWiseResult" nillable="true" type="q12:ArrayOfInPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NSWisePatientListDiet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nurseStationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dietTypeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="mealid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NSWisePatientListDietResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="NSWisePatientListDietResult" nillable="true" type="q13:ArrayOfInPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderdNSWisePatientListDiet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nurseStationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dietTypeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="mealid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderdNSWisePatientListDietResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="OrderdNSWisePatientListDietResult" nillable="true" type="q14:ArrayOfInPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadyToDelevPatientListDiet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nurseStationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dietTypeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="mealid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadyToDelevPatientListDietResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="ReadyToDelevPatientListDietResult" nillable="true" type="q15:ArrayOfInPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFoodServedtDietList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AH.DIET.MODEL" minOccurs="0" name="diet" nillable="true" type="q16:IPDDiet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFoodServedtDietListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFoodServedtDietListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPatient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetNewPatientResult" nillable="true" type="q17:ArrayOfInPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PatListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="PatListResult" nillable="true" type="q18:ArrayOfInPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BedTransferPatList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BedTransferPatListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="BedTransferPatListResult" nillable="true" type="q19:ArrayOfInPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmittedAllPatList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmittedAllPatListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetAdmittedAllPatListResult" nillable="true" type="q20:ArrayOfInPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmDateWisePatList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmDateWisePatListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetAdmDateWisePatListResult" nillable="true" type="q21:ArrayOfInPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedTransferDateWisePatList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedTransferDateWisePatListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetBedTransferDateWisePatListResult" nillable="true" type="q22:ArrayOfInPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDischargeDateWisePatList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDischargeDateWisePatListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetDischargeDateWisePatListResult" nillable="true" type="q23:ArrayOfInPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>