Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/DIETSR/DIETService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AH.DIET.MODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AH.DIET.MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:112/DIET/DIETService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" />
  <xs:import schemaLocation="http://localhost:112/DIET/DIETService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AH.FNB.MODEL" />
  <xs:complexType name="IPDDiet">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdmissionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bill" type="xs:decimal" />
      <xs:element minOccurs="0" name="DietDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DietTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DietTypeTitle" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q1:EntryParameter" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AH.FNB.MODEL" minOccurs="0" name="FoodItem" nillable="true" type="q2:FoodItem" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AH.FNB.MODEL" minOccurs="0" name="MealSetup" nillable="true" type="q3:MealSetup" />
      <xs:element minOccurs="0" name="NurseStationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NurseStationTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IPDDiet" nillable="true" type="tns:IPDDiet" />
  <xs:complexType name="ArrayOfIPDDiet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IPDDiet" nillable="true" type="tns:IPDDiet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIPDDiet" nillable="true" type="tns:ArrayOfIPDDiet" />
</xs:schema>