Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/PHRMSSR/PHRMSService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://it-atik.citygroupbd.com:91/PHRMS/PHRMSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://it-atik.citygroupbd.com:91/PHRMS/PHRMSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" />
  <xs:complexType name="Warehouse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="ser:char" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q1:EntryParameter" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeNameBangla" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Warehouse" nillable="true" type="tns:Warehouse" />
  <xs:complexType name="ArrayOfWarehouseConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WarehouseConfig" nillable="true" type="tns:WarehouseConfig" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWarehouseConfig" nillable="true" type="tns:ArrayOfWarehouseConfig" />
  <xs:complexType name="WarehouseConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="ser:char" />
      <xs:element minOccurs="0" name="BlockNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contactperson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostCategoryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostCenterID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepID" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q2:EntryParameter" />
      <xs:element minOccurs="0" name="FloorNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPharmacyTransferAllowed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSCMTransferAllowed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NurseStationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Typeid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhNameBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Whid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WarehouseConfig" nillable="true" type="tns:WarehouseConfig" />
</xs:schema>