Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/PHRMSSR/PHRMSService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://it-atik.citygroupbd.com:91/PHRMS/PHRMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" />
  <xs:import schemaLocation="http://it-atik.citygroupbd.com:91/PHRMS/PHRMSService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" />
  <xs:import schemaLocation="http://it-atik.citygroupbd.com:91/PHRMS/PHRMSService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" />
  <xs:import schemaLocation="http://it-atik.citygroupbd.com:91/PHRMS/PHRMSService.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://it-atik.citygroupbd.com:91/PHRMS/PHRMSService.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" />
  <xs:import schemaLocation="http://it-atik.citygroupbd.com:91/PHRMS/PHRMSService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" />
  <xs:import schemaLocation="http://it-atik.citygroupbd.com:91/PHRMS/PHRMSService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/AH.HR.MODEL" />
  <xs:import schemaLocation="http://it-atik.citygroupbd.com:91/PHRMS/PHRMSService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/AH.ACCMS.MODEL" />
  <xs:import schemaLocation="http://it-atik.citygroupbd.com:91/PHRMS/PHRMSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" />
  <xs:element name="GetDrugRoute">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugRouteResult" nillable="true" type="q1:ArrayOfDrugRoute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDrugRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="odrug" nillable="true" type="q2:DrugRoute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDrugRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDrugRouteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyDrugRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="odrug" nillable="true" type="q3:DrugRoute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyDrugRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyDrugRouteResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VarifyDuplicateBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phrid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="drugid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="batchno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VarifyDuplicateBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VarifyDuplicateBatchResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VarifyExpireDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phrid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="drugid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VarifyExpireDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VarifyExpireDateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDemandRequisition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="odr" nillable="true" type="q4:DemandRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDemandRequisitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDemandRequisitionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTransferRequisition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="otr" nillable="true" type="q5:TransferRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTransferRequisitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTransferRequisitionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetUserByIDResult" nillable="true" type="q6:ArrayOfPharmacyUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTRID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pharmacy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTRIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetTRIDResult" nillable="true" type="q7:ArrayOfTransferRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTRDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTRDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetTRDetailsResult" nillable="true" type="q8:ArrayOfTransferRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugDetailsBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="drugid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pharmacyid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugDetailsBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetDrugDetailsBatchResult" nillable="true" type="q9:ArrayOfMaterialReceive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTransferReceive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="otr" nillable="true" type="q10:TransferReceive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTransferReceiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTransferReceiveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetWarehouseResult" nillable="true" type="q11:ArrayOfWarehouseConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseTypewise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseTypewiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetWarehouseTypewiseResult" nillable="true" type="q12:ArrayOfWarehouseConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugStockByPharmacy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drugName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pharmacy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugStockByPharmacyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugStockByPharmacyResult" nillable="true" type="q13:ArrayOfDrugMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTRDetSearch">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTRDetSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetTRDetSearchResult" nillable="true" type="q14:ArrayOfTransferRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhTypeforCentral">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="warehouse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhTypeforCentralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetWhTypeforCentralResult" nillable="true" type="q15:ArrayOfWarehouseConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalRetReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalRetReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetSalRetReportResult" nillable="true" type="q16:ArrayOfSalesReportRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalRetReportDet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalRetReportDetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetSalRetReportDetResult" nillable="true" type="q17:ArrayOfSalesReportRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDrugCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="dg" nillable="true" type="q18:DrugCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDrugCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDrugCompanyResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDrugCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="udg" nillable="true" type="q19:DrugCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDrugCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDrugCompanyResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDrugGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="drgr" nillable="true" type="q20:DrugGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDrugGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDrugGroupResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="ugr" nillable="true" type="q21:DrugGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGroupResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDrugUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="dunit" nillable="true" type="q22:DrugUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDrugUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDrugUnitResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDrugUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="unt" nillable="true" type="q23:DrugUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDrugUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDrugUnitResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDrugPackType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="pack" nillable="true" type="q24:DrugPackType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDrugPackTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDrugPackTypeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDrugPackType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="upac" nillable="true" type="q25:DrugPackType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDrugPackTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDrugPackTypeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugCompany">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugCompanyResult" nillable="true" type="q26:ArrayOfDrugCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugGroupResult" nillable="true" type="q27:ArrayOfDrugGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugUnit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugUnitResult" nillable="true" type="q28:ArrayOfDrugUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugPackType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugPackTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugPackTypeResult" nillable="true" type="q29:ArrayOfDrugPackType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugCompDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugCompDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDrugCompDicResult" nillable="true" type="q30:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugGroupDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugGroupDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDrugGroupDicResult" nillable="true" type="q31:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugUnitDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugUnitDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDrugUnitDicResult" nillable="true" type="q32:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugPacketDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugPacketDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDrugPacketDicResult" nillable="true" type="q33:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDrugMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="ms" nillable="true" type="q34:DrugMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDrugMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDrugMasterResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDrugMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="ums" nillable="true" type="q35:DrugMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDrugMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDrugMasterResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugMaster">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugMasterResult" nillable="true" type="q36:ArrayOfDrugMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugMasterList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drugName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugMasterListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugMasterListResult" nillable="true" type="q37:ArrayOfDrugMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePharmacyLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="loc" nillable="true" type="q38:Pharmacy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePharmacyLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePharmacyLocationResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePharmacyLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="loc" nillable="true" type="q39:Pharmacy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePharmacyLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePharmacyLocationResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetBuildingDictResult" nillable="true" type="q40:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="min" type="xs:short" />
        <xs:element minOccurs="0" name="max" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNumbersResult" nillable="true" type="q41:ArrayOfshort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="sp" nillable="true" type="q42:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSupplierResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="sp" nillable="true" type="q43:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSupplierResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPharmacyLocation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPharmacyLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetPharmacyLocationResult" nillable="true" type="q44:ArrayOfPharmacy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetSupplierListResult" nillable="true" type="q45:ArrayOfSupplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierListed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierListedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetSupplierListedResult" nillable="true" type="q46:ArrayOfSupplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveConsumerPurpose">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="con" nillable="true" type="q47:ConsumerPurpose" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveConsumerPurposeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveConsumerPurposeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsumerPurpose">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="con" nillable="true" type="q48:ConsumerPurpose" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsumerPurposeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateConsumerPurposeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumerPurpose">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumerPurposeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetConsumerPurposeResult" nillable="true" type="q49:ArrayOfConsumerPurpose" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPharmacyName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPharmacyNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPharmacyNameResult" nillable="true" type="q50:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePurchaseOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="po" nillable="true" type="q51:PurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePurchaseOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePurchaseOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDrugDose">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="dr" nillable="true" type="q52:DrugDose" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDrugDoseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDrugDoseResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDrugDose">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="dr" nillable="true" type="q53:DrugDose" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDrugDoseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDrugDoseResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugDose">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugDoseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugDoseResult" nillable="true" type="q54:ArrayOfDrugDose" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDrugIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="di" nillable="true" type="q55:DrugIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDrugIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDrugIssueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpdDrugsTkt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tktno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpdDrugsTktResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetOpdDrugsTktResult" nillable="true" type="q56:ArrayOfOPDDrugs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyTicketNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tktNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isprescribe" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyTicketNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyTicketNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tktNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetTicketResult" nillable="true" type="q57:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveItemRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="rate" nillable="true" type="q58:ItemRates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveItemRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveItemRatesResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="urat" nillable="true" type="q59:ItemRates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateItemRatesResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemRates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetItemRatesResult" nillable="true" type="q60:ArrayOfItemRates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetUserResult" nillable="true" type="q61:ArrayOfPharmacyUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePharmacyUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="usr" nillable="true" type="q62:PharmacyUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePharmacyUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePharmacyUsersResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedicineName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedicineNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetMedicineNameResult" nillable="true" type="q63:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugListStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drugName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pharmacyid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugListStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugListStockResult" nillable="true" type="q64:ArrayOfDrugMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugListByGroupName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugListByGroupNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugListByGroupNameResult" nillable="true" type="q65:ArrayOfDrugMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugListByGroupNameForIPD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugListByGroupNameForIPDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugListByGroupNameForIPDResult" nillable="true" type="q66:ArrayOfDrugMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugStockByGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugStockByGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugStockByGroupResult" nillable="true" type="q67:ArrayOfDrugMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugsCompanyWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugsCompanyWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetDrugsCompanyWiseResult" nillable="true" type="q68:ArrayOfProductListRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetSalesReportResult" nillable="true" type="q69:ArrayOfSalesReportRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesReportDet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesReportDetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetSalesReportDetResult" nillable="true" type="q70:ArrayOfSalesReportRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugsStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drugid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phrid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugsStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetDrugsStockResult" nillable="true" type="q71:StockHelper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugStockList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pharmacyid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugStockListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetDrugStockListResult" nillable="true" type="q72:ArrayOfStockListRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMaterialReceive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="mr" nillable="true" type="q73:MaterialReceive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMaterialReceiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveMaterialReceiveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPONumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pharmacyID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPONumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetPONumbersResult" nillable="true" type="q74:ArrayOfPurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPODetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phrid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPODetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetPODetailsResult" nillable="true" type="q75:ArrayOfPurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOReportDet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOReportDetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetPOReportDetResult" nillable="true" type="q76:ArrayOfPODetailsRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyPOID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyPOIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyPOIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePOType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="type" nillable="true" type="q77:POTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePOTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePOTypeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetPOTypesResult" nillable="true" type="q78:ArrayOfPOTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPOType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="type" nillable="true" type="q79:POTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPOTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyPOTypeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductLedger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prodid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductLedgerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetProductLedgerResult" nillable="true" type="q80:ArrayOfProductLedgerRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartDayClose">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="odayclose" nillable="true" type="q81:DayEnd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartDayCloseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartDayCloseResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phrid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="day" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyDateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpeningEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MrrID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpeningEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetOpeningEntryResult" nillable="true" type="q82:ArrayOfMaterialReceive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMRRNumber">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMRRNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetMRRNumberResult" nillable="true" type="q83:ArrayOfMaterialReceive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOpeningEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="mr" nillable="true" type="q84:MaterialReceive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOpeningEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOpeningEntryResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOReportDateWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOReportDateWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetPOReportDateWiseResult" nillable="true" type="q85:ArrayOfPODetailsRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetMrrReportResult" nillable="true" type="q86:ArrayOfMaterialReceiveRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugStockListDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pharmacyid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugStockListDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetDrugStockListDetailsResult" nillable="true" type="q87:ArrayOfStockListRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyOpeningDrugID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drugid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pharmacyid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyOpeningDrugIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyOpeningDrugIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemRatesReport">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemRatesReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetItemRatesReportResult" nillable="true" type="q88:ArrayOfItemRatesRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemRatesHistReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prodid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemRatesHistReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetItemRatesHistReportResult" nillable="true" type="q89:ArrayOfItemRatesHistRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmittedPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registrationNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmittedPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetAdmittedPatientResult" nillable="true" type="q90:InPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyInPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyInPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyInPatientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/AH.HR.MODEL" minOccurs="0" name="GetEmpMasterResult" nillable="true" type="q91:EmployeeMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDepartmentsResult" nillable="true" type="q92:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Dept" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUnitDictResult" nillable="true" type="q93:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePurchaseRequisition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="opurchase" nillable="true" type="q94:PurchaseRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePurchaseRequisitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePurchaseRequisitionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPRID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPRIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetPRIDResult" nillable="true" type="q95:ArrayOfPurchaseRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPRDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPRDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetPRDetailsResult" nillable="true" type="q96:ArrayOfPurchaseRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIssueReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="oret" nillable="true" type="q97:IssueReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIssueReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveIssueReturnResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetIssueDetailsResult" nillable="true" type="q98:ArrayOfDrugIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePurchaseReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="oret" nillable="true" type="q99:PurchaseReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePurchaseReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePurchaseReturnResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetPOListResult" nillable="true" type="q100:ArrayOfPurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPONum">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPONumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetPONumResult" nillable="true" type="q101:ArrayOfPurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumption">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetConsumptionResult" nillable="true" type="q102:ArrayOfConsumptionForm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDrugConsumption">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="odrug" nillable="true" type="q103:ConsumptionForm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDrugConsumptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDrugConsumptionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyDrugConsumption">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="odrug" nillable="true" type="q104:ConsumptionForm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyDrugConsumptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyDrugConsumptionResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptUnitDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeptGrp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deptid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptUnitDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDeptUnitDicResult" nillable="true" type="q105:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentsetupDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deptgr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentsetupDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDepartmentsetupDicResult" nillable="true" type="q106:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCostcategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="control" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCostcategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/AH.ACCMS.MODEL" minOccurs="0" name="GetCostcategoryResult" nillable="true" type="q107:ArrayOfCostCategoryTreeview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCostcenter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="control" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCostcenterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/AH.ACCMS.MODEL" minOccurs="0" name="GetCostcenterResult" nillable="true" type="q108:ArrayOfCostCategoryTreeview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDRID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDRIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetDRIDResult" nillable="true" type="q109:ArrayOfNurseDemandRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReqDetForIPDIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReqDetForIPDIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetReqDetForIPDIssueResult" nillable="true" type="q110:ArrayOfNurseDemandRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="GetPatientResult" nillable="true" type="q111:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cell" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="GetPatientDetailsResult" nillable="true" type="q112:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpeningReport">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpeningReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetOpeningReportResult" nillable="true" type="q113:ArrayOfMaterialReceiveRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugsByExpireDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugsByExpireDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetDrugsByExpireDateResult" nillable="true" type="q114:ArrayOfMaterialReceiveRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugMasterListCompanyWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drugName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugMasterListCompanyWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugMasterListCompanyWiseResult" nillable="true" type="q115:ArrayOfDrugMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugDoseListByDrugName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="drugname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugDoseListByDrugNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugDoseListByDrugNameResult" nillable="true" type="q116:ArrayOfDrugDose" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugDoseListByGroupName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugDoseListByGroupNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugDoseListByGroupNameResult" nillable="true" type="q117:ArrayOfDrugDose" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTermsandCondition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="oterms" nillable="true" type="q118:TermsAndConditions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTermsandConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTermsandConditionResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTermsandCondition">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTermsandConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetTermsandConditionResult" nillable="true" type="q119:ArrayOfTermsAndConditions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTermsandCondition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="oterms" nillable="true" type="q120:TermsAndConditions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTermsandConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyTermsandConditionResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOTermsConditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOTermsConditionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetPOTermsConditionsResult" nillable="true" type="q121:ArrayOfPOTermsConditionRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDetailsByRegID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDetailsByRegIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetIssueDetailsByRegIDResult" nillable="true" type="q122:ArrayOfDrugIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugMasterByCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drugcompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugMasterByCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugMasterByCompanyResult" nillable="true" type="q123:ArrayOfDrugMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrReportByMrID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mrid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrReportByMrIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetMrrReportByMrIDResult" nillable="true" type="q124:ArrayOfMrrReportRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrDetailsForPurchaseReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mrrid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrDetailsForPurchaseReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetMrrDetailsForPurchaseReturnResult" nillable="true" type="q125:ArrayOfMaterialReceive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VarifyDrugForReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mrrid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="drugid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VarifyDrugForReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VarifyDrugForReturnResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPRreport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPRreportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetPRreportResult" nillable="true" type="q126:ArrayOfPRReportRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPRDetSearch">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPRDetSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetPRDetSearchResult" nillable="true" type="q127:ArrayOfPurchaseRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPRSearchDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPRSearchDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetPRSearchDetailsResult" nillable="true" type="q128:ArrayOfPurchaseRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VarifyPurchaseReqNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VarifyPurchaseReqNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VarifyPurchaseReqNoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketFees">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketFeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="GetTicketFeesResult" nillable="true" type="q129:AccountsPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserCloseRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="tktFee" nillable="true" type="q130:AccountsPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserCloseRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUserCloseRegisterResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierLedger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ledgergroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierLedgerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSupplierLedgerResult" nillable="true" type="q131:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugCompanyDictionary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugCompanyDictionaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugCompanyDictionaryResult" nillable="true" type="q132:ArrayOfDrugCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugListCompanyWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugListCompanyWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugListCompanyWiseResult" nillable="true" type="q133:ArrayOfDrugMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequisitionTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pharmacyid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequisitionTrackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetRequisitionTrackResult" nillable="true" type="q134:ArrayOfPurchaseRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOTracking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pharmacyid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOTrackingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetPOTrackingResult" nillable="true" type="q135:ArrayOfPurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOTrackingByPrId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOTrackingByPrIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetPOTrackingByPrIdResult" nillable="true" type="q136:ArrayOfPurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrTracking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pharmacyid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrTrackingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetMrrTrackingResult" nillable="true" type="q137:ArrayOfMaterialReceive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrTrackingByPONo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrTrackingByPONoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetMrrTrackingByPONoResult" nillable="true" type="q138:ArrayOfMaterialReceive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>