Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/PHRMSSR/PHRMSService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://it-atik.citygroupbd.com:91/PHRMS/PHRMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" />
  <xs:import schemaLocation="http://it-atik.citygroupbd.com:91/PHRMS/PHRMSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" />
  <xs:import schemaLocation="http://it-atik.citygroupbd.com:91/PHRMS/PHRMSService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/AH.HR.MODEL" />
  <xs:import schemaLocation="http://it-atik.citygroupbd.com:91/PHRMS/PHRMSService.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/AH.DTMS.MODEL" />
  <xs:import schemaLocation="http://it-atik.citygroupbd.com:91/PHRMS/PHRMSService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/AH.DUtility" />
  <xs:import schemaLocation="http://it-atik.citygroupbd.com:91/PHRMS/PHRMSService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" />
  <xs:complexType name="ArrayOfOPDDrugs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OPDDrugs" nillable="true" type="tns:OPDDrugs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOPDDrugs" nillable="true" type="tns:ArrayOfOPDDrugs" />
  <xs:complexType name="OPDDrugs">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="DrugDose" nillable="true" type="q1:DrugDose" />
      <xs:element minOccurs="0" name="Prescription" nillable="true" type="tns:Prescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OPDDrugs" nillable="true" type="tns:OPDDrugs" />
  <xs:complexType name="Prescription">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Ticket">
        <xs:sequence>
          <xs:element minOccurs="0" name="Advice" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AdvicesList" nillable="true" type="tns:ArrayOfOPDAdvice" />
          <xs:element minOccurs="0" name="Bp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CFValAssign" nillable="true" type="tns:ClinicalFindingsValueAssign" />
          <xs:element minOccurs="0" name="CFValAssignList" nillable="true" type="tns:ArrayOfClinicalFindingsValueAssign" />
          <xs:element minOccurs="0" name="ClinicalDiagnosis" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClinicalDiagnosisList" nillable="true" type="tns:ArrayOfClinicalDiagnosis" />
          <xs:element minOccurs="0" name="ClinicalFindings" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CollTests" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Complaints" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ComplaintsList" nillable="true" type="tns:ArrayOfComplaints" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="DrugsList" nillable="true" type="q2:ArrayOfDrugDose" />
          <xs:element minOccurs="0" name="GynHis" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Height" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Medicine" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OPDDoctorCallQ" nillable="true" type="tns:OPDDoctorCallQ" />
          <xs:element minOccurs="0" name="OtherComplaints" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OtherComplaintsList" nillable="true" type="tns:ArrayOfComplaints" />
          <xs:element minOccurs="0" name="PackageName" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="RefDeptID" nillable="true" type="q3:Department" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AH.HR.MODEL" minOccurs="0" name="RefDocID" nillable="true" type="q4:Doctor" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="RefUnitID" nillable="true" type="q5:DepartmentUnit" />
          <xs:element minOccurs="0" name="Refered" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Temparature" nillable="true" type="xs:string" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AH.DTMS.MODEL" minOccurs="0" name="TestsList" nillable="true" type="q6:ArrayOfTestSub" />
          <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="comorbidIllness" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="paediatricHis" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Prescription" nillable="true" type="tns:Prescription" />
  <xs:complexType name="Ticket">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountSendToAccountDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppointmentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CopyPrinted" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CopyPrintedBY" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AH.HR.MODEL" minOccurs="0" name="Doctor" nillable="true" type="q7:Doctor" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q8:EntryParameter" />
      <xs:element minOccurs="0" name="FeeCashAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeeCollection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeeCreditCardAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeeDebitCardAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeeRefund" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeeTotal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GynHistory" nillable="true" type="tns:GynHistory" />
      <xs:element minOccurs="0" name="NextVisitAfterDay" type="xs:int" />
      <xs:element minOccurs="0" name="NextVisitAfterMonth" type="xs:int" />
      <xs:element minOccurs="0" name="NextVisitAfterYear" type="xs:int" />
      <xs:element minOccurs="0" name="NextVisitDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NurseStationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OPDCallQ" nillable="true" type="tns:OPDDoctorCallQ" />
      <xs:element minOccurs="0" name="PaediatricHistory" nillable="true" type="tns:PaediatricHistory" />
      <xs:element minOccurs="0" name="PatSerial" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="Patient" nillable="true" type="q9:Patient" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AH.DUtility" minOccurs="0" name="PatientAge" nillable="true" type="q10:Age" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="PatientPayment" nillable="true" type="q11:OPDPayment" />
      <xs:element minOccurs="0" name="PreviousTicketNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurposeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefundedTicketNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" minOccurs="0" name="Room" nillable="true" type="q12:Room" />
      <xs:element minOccurs="0" name="TicketCategory" nillable="true" type="xs:string" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="TicketDepartment" nillable="true" type="q13:Department" />
      <xs:element minOccurs="0" name="TicketFee" type="xs:double" />
      <xs:element minOccurs="0" name="TicketNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketValidity" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VisitDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="acc_close_flag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
  <xs:complexType name="GynHistory">
    <xs:sequence>
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q14:EntryParameter" />
      <xs:element minOccurs="0" name="Gyn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GynText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Obs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObsText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GynHistory" nillable="true" type="tns:GynHistory" />
  <xs:complexType name="OPDDoctorCallQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="Allergy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AllergyText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Asthma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AsthmaText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepertmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dept_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Diabetes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiabetesText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Doc_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoctorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoctorStatus" nillable="true" type="xs:string" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q15:EntryParameter" />
      <xs:element minOccurs="0" name="FamilyHistory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FamilyHistoryText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeartDisease" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeartDiseaseText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KidneyDisease" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KidneyDiseaseText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NStationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NurseID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OFC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Others" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OthersText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PastMedicalHistory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PastMedicalHistoryText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PastSurgicalHistory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PastSurgicalHistoryText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pressure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PressureText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Room" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SPOTWO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temparature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OPDDoctorCallQ" nillable="true" type="tns:OPDDoctorCallQ" />
  <xs:complexType name="PaediatricHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Antenatal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AntenatalText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompFeed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompFeedText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompFeedWText" nillable="true" type="xs:string" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q16:EntryParameter" />
      <xs:element minOccurs="0" name="ExclusiveFeed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExclusiveFeedText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Immunization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImmunizationText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MileStoneOfDev" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MileStoneOfDevText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Natal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NatalText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostNatal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostNatalText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PresentFeed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PresentFeedText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocioEcoHistory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocioEcoHistoryText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaediatricHistory" nillable="true" type="tns:PaediatricHistory" />
  <xs:complexType name="ArrayOfOPDAdvice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OPDAdvice" nillable="true" type="tns:OPDAdvice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOPDAdvice" nillable="true" type="tns:ArrayOfOPDAdvice" />
  <xs:complexType name="OPDAdvice">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdviceDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdviceID" nillable="true" type="xs:string" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="Department" nillable="true" type="q17:Department" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q18:EntryParameter" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OPDAdvice" nillable="true" type="tns:OPDAdvice" />
  <xs:complexType name="ClinicalFindingsValueAssign">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedFindingsValue" nillable="true" type="xs:string" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q19:EntryParameter" />
      <xs:element minOccurs="0" name="FindingsGrpID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FindingsID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FindingsTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FindingsValDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FindingsValID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FindingsValTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClinicalFindingsValueAssign" nillable="true" type="tns:ClinicalFindingsValueAssign" />
  <xs:complexType name="ArrayOfClinicalFindingsValueAssign">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClinicalFindingsValueAssign" nillable="true" type="tns:ClinicalFindingsValueAssign" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClinicalFindingsValueAssign" nillable="true" type="tns:ArrayOfClinicalFindingsValueAssign" />
  <xs:complexType name="ArrayOfClinicalDiagnosis">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClinicalDiagnosis" nillable="true" type="tns:ClinicalDiagnosis" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClinicalDiagnosis" nillable="true" type="tns:ArrayOfClinicalDiagnosis" />
  <xs:complexType name="ClinicalDiagnosis">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiagID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiagTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiagTitleBeng" nillable="true" type="xs:string" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q20:EntryParameter" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClinicalDiagnosis" nillable="true" type="tns:ClinicalDiagnosis" />
  <xs:complexType name="ArrayOfComplaints">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Complaints" nillable="true" type="tns:Complaints" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComplaints" nillable="true" type="tns:ArrayOfComplaints" />
  <xs:complexType name="Complaints">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComplaintTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComplaintTitleBeng" nillable="true" type="xs:string" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="Department" nillable="true" type="q21:Department" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q22:EntryParameter" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Complaints" nillable="true" type="tns:Complaints" />
</xs:schema>