Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/OPDSR/OPDService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:82/OPD/OPDService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:82/OPD/OPDService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" />
  <xs:import schemaLocation="http://localhost:82/OPD/OPDService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" />
  <xs:import schemaLocation="http://localhost:82/OPD/OPDService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/AH.DUtility" />
  <xs:import schemaLocation="http://localhost:82/OPD/OPDService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" />
  <xs:import schemaLocation="http://localhost:82/OPD/OPDService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/AH.DTMS.MODEL" />
  <xs:import schemaLocation="http://localhost:82/OPD/OPDService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" />
  <xs:import schemaLocation="http://localhost:82/OPD/OPDService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/AH.HR.MODEL" />
  <xs:import schemaLocation="http://localhost:82/OPD/OPDService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/AH.APPOPD.MODEL" />
  <xs:element name="GetOPDDoctorDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeptID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UnitID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDDoctorDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOPDDoctorDictResult" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDDoctorsDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deptID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UnitID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDDoctorsDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOPDDoctorsDictResult" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDRoomsDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuildingID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RmType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDRoomsDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOPDRoomsDictResult" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNurseRoomRO">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNurseRoomROResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetNurseRoomROResult" nillable="true" type="q4:ArrayOfOPDNurseRoomAllRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocRoomAllRO">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocRoomAllROResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetDocRoomAllROResult" nillable="true" type="q5:ArrayOfOPDDrRoomAllRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GETs_Room_No">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoomGrp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GETs_Room_NoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" minOccurs="0" name="GETs_Room_NoResult" nillable="true" type="q6:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="docid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetPatDocResult" nillable="true" type="q7:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsDrRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsDrRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="InsDrRoomResult" nillable="true" type="q8:ArrayOfOPDDoctorCallQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="testResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" minOccurs="0" name="testResult" nillable="true" type="q9:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRoomGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="oRoom" nillable="true" type="q10:OPDRoomGrpAssign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRoomGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRoomGroupResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomGroupByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoomGrp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomGroupByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetRoomGroupByIDResult" nillable="true" type="q11:ArrayOfOPDRoomGrpAssign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetRoomGroupResult" nillable="true" type="q12:ArrayOfOPDRoomGrpAssign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoomGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" minOccurs="0" name="oRoom" nillable="true" type="q13:Room" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoomGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" minOccurs="0" name="UpdateRoomGroupResult" nillable="true" type="q14:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNurses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNursesResult" nillable="true" type="q15:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentsetupDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deptgr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentsetupDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDepartmentsetupDicResult" nillable="true" type="q16:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dept" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDoctorsResult" nillable="true" type="q17:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrescriptionTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrescriptionTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPrescriptionTypesResult" nillable="true" type="q18:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateAge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dob" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateAgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AH.DUtility" minOccurs="0" name="CalculateAgeResult" nillable="true" type="q19:Age" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyPatientNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyPatientNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyPatientNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="GetPatientResult" nillable="true" type="q20:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOPDTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="tkt" nillable="true" type="q21:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOPDTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveOPDTicketResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTickets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientHCN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ticketNO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetTicketsResult" nillable="true" type="q22:ArrayOfRptTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyTicketNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tktno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isPrescribed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyTicketNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyTicketNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiseaseCase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiseaseCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetDiseaseCaseResult" nillable="true" type="q23:ArrayOfDiseaseCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDisease">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="tDept" nillable="true" type="q24:DiseaseCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDiseaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDiseaseResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDisease">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="tDept" nillable="true" type="q25:DiseaseCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDiseaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDiseaseResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiseaseDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiseaseDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDiseaseDictResult" nillable="true" type="q26:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Dept" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUnitDictResult" nillable="true" type="q27:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDoctorDictResult" nillable="true" type="q28:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptUnitDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deptgrp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deptid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptUnitDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDeptUnitDicResult" nillable="true" type="q29:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptUnitWiseDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deptid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unitid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptUnitWiseDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDeptUnitWiseDocResult" nillable="true" type="q30:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiagnGrpDeptWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="department" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiagnGrpDeptWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDiagnGrpDeptWiseResult" nillable="true" type="q31:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestMain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="department" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="group" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestMainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/AH.DTMS.MODEL" minOccurs="0" name="GetTestMainResult" nillable="true" type="q32:ArrayOfTestMain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMainDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMainDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetMainDictResult" nillable="true" type="q33:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deptid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="group" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="main" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/AH.DTMS.MODEL" minOccurs="0" name="GetTestDetailsResult" nillable="true" type="q34:ArrayOfTestSub" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMainDeptwise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="department" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="group" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMainDeptwiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetMainDeptwiseResult" nillable="true" type="q35:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prescriptionTicketNO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetTicketResult" nillable="true" type="q36:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptWiseDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deptid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptWiseDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDeptWiseDocResult" nillable="true" type="q37:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePrescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="prs" nillable="true" type="q38:Prescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePrescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePrescriptionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPrescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="prs" nillable="true" type="q39:Prescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPrescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditPrescriptionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrescriptionType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrescriptionTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPrescriptionTypeResult" nillable="true" type="q40:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDPrescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereCondition" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDPrescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetOPDPrescriptionResult" nillable="true" type="q41:ArrayOfOPDPrescriptionReportNewRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDTicketMR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhereCondition" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDTicketMRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetOPDTicketMRResult" nillable="true" type="q42:ArrayOfOPDTicketRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrescriptionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="docid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrescriptionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetPrescriptionListResult" nillable="true" type="q43:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClinicalFindingsGrp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="cfGrp" nillable="true" type="q44:ClinicalFindingsGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClinicalFindingsGrpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveClinicalFindingsGrpResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClinicalFindingsGrp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="cfGrp" nillable="true" type="q45:ClinicalFindingsGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClinicalFindingsGrpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateClinicalFindingsGrpResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalFindingsGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalFindingsGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetClinicalFindingsGroupsResult" nillable="true" type="q46:ArrayOfClinicalFindingsGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalFindingsGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cfGrpTitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalFindingsGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetClinicalFindingsGroupResult" nillable="true" type="q47:ArrayOfClinicalFindingsGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalFindingsGroupDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalFindingsGroupDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetClinicalFindingsGroupDictResult" nillable="true" type="q48:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalFindingsDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalFindingsDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetClinicalFindingsDictResult" nillable="true" type="q49:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClinicalFindings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="cf" nillable="true" type="q50:ClinicalFindings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClinicalFindingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveClinicalFindingsResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCfTree">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCfTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetCfTreeResult" nillable="true" type="q51:ArrayOfClinicalFindings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClinicalFindings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="cf" nillable="true" type="q52:ClinicalFindings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClinicalFindingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateClinicalFindingsResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalFindings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalFindingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetClinicalFindingsResult" nillable="true" type="q53:ArrayOfClinicalFindings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalFinding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cfTitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalFindingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetClinicalFindingResult" nillable="true" type="q54:ArrayOfClinicalFindings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalFindingByGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cfGrpID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalFindingByGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetClinicalFindingByGroupResult" nillable="true" type="q55:ArrayOfClinicalFindings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalFindingByGroupNParent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cfGrpID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cfParentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalFindingByGroupNParentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetClinicalFindingByGroupNParentResult" nillable="true" type="q56:ArrayOfClinicalFindings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClinicalFindingsValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="cfv" nillable="true" type="q57:ClinicalFindingsValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClinicalFindingsValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveClinicalFindingsValueResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalFindingsValues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalFindingsValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetClinicalFindingsValuesResult" nillable="true" type="q58:ArrayOfClinicalFindingsValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalFindingsValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="findingsvaltitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalFindingsValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetClinicalFindingsValueResult" nillable="true" type="q59:ArrayOfClinicalFindingsValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClinicalFindingsValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="cfv" nillable="true" type="q60:ClinicalFindingsValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClinicalFindingsValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateClinicalFindingsValueResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCFAssignedValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="cfvalA" nillable="true" type="q61:ClinicalFindingsValueAssign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCFAssignedValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCFAssignedValueResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCFAssignedValueDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cfID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCFAssignedValueDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getCFAssignedValueDictResult" nillable="true" type="q62:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCFAssignedValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cfID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCFAssignedValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="getCFAssignedValueResult" nillable="true" type="q63:ArrayOfClinicalFindingsValueAssign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClinicalDiagnosis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="cl" nillable="true" type="q64:ClinicalDiagnosis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClinicalDiagnosisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveClinicalDiagnosisResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClinicalDiagnosis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="cl" nillable="true" type="q65:ClinicalDiagnosis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClinicalDiagnosisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateClinicalDiagnosisResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalDiagnosis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalDiagnosisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetClinicalDiagnosisResult" nillable="true" type="q66:ArrayOfClinicalDiagnosis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalDiagnos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="diagtitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicalDiagnosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetClinicalDiagnosResult" nillable="true" type="q67:ArrayOfClinicalDiagnosis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedicineListOPD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MedicineName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PatAge" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedicineListOPDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetMedicineListOPDResult" nillable="true" type="q68:ArrayOfDrugDose" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComplaint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="com" nillable="true" type="q69:Complaints" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComplaintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveComplaintResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComplaint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="com" nillable="true" type="q70:Complaints" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComplaintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateComplaintResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaints">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetComplaintsResult" nillable="true" type="q71:ArrayOfComplaints" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsUsingLike">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="comptitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsUsingLikeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetComplaintsUsingLikeResult" nillable="true" type="q72:ArrayOfComplaints" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsTree">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HCN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetsTreeResult" nillable="true" type="q73:ArrayOfPatHistoryTree" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDTicketDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParamDateFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ParamDateTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDTicketDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetOPDTicketDetailsResult" nillable="true" type="q74:ArrayOfOPDTicketRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DepertmentName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ParamDateFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ParamDateTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetOPDDepartmentResult" nillable="true" type="q75:ArrayOfOPDTicketRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDMRDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doctorid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deptid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ParamDateFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ParamDateTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDMRDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetOPDMRDoctorResult" nillable="true" type="q76:ArrayOfOPDTicketRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsOPD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsOPDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetsOPDResult" nillable="true" type="q77:ArrayOfOPDTicketRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsDepartmentName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsDepartmentNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="GetsDepartmentNameResult" nillable="true" type="q78:ArrayOfDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/AH.HR.MODEL" minOccurs="0" name="GetDoctorNamesResult" nillable="true" type="q79:ArrayOfDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsUpdDocCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="oOPDDoctorCall" nillable="true" type="q80:OPDDoctorCall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsUpdDocCallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="InsUpdDocCallResult" nillable="true" type="q81:OPDDoctorCall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsOPDDoctorName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsOPDDoctorNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetsOPDDoctorNameResult" nillable="true" type="q82:ArrayOfOPDDoctorCallQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsOPDDocRoomNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoomNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsOPDDocRoomNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetsOPDDocRoomNoResult" nillable="true" type="q83:ArrayOfOPDTicketRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePatientStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TickNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RoomNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Doc_ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePatientStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="ChangePatientStatusResult" nillable="true" type="q84:ArrayOfOPDTicketRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDoctorRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/AH.APPOPD.MODEL" minOccurs="0" name="oDoctorRoomSetup" nillable="true" type="q85:OPDDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDoctorRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/AH.APPOPD.MODEL" minOccurs="0" name="InsertDoctorRoomResult" nillable="true" type="q86:ArrayOfOPDDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRooms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRoomsResult" nillable="true" type="q87:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDDoctors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDDoctorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/AH.APPOPD.MODEL" minOccurs="0" name="GetOPDDoctorsResult" nillable="true" type="q88:ArrayOfOPDDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocRoomNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoctorID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocRoomNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/AH.APPOPD.MODEL" minOccurs="0" name="GetDocRoomNoResult" nillable="true" type="q89:ArrayOfOPDDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNurseRoom">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNurseRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetNurseRoomResult" nillable="true" type="q90:ArrayOfOPDNurseRoomAllocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNurseRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="oOPDNurseRoomAllocation" nillable="true" type="q91:OPDNurseRoomAllocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNurseRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="InsertNurseRoomResult" nillable="true" type="q92:ArrayOfOPDNurseRoomAllocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChkPatOldNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_hcn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChkPatOldNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChkPatOldNewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDrRoomResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdviceSetupInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="oAdvice" nillable="true" type="q93:OPDAdvice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdviceSetupInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdviceSetupInsertResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdviceSetupUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="oAdvice" nillable="true" type="q94:OPDAdvice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdviceSetupUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdviceSetupUpdateResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdviceSetupGET">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AdviceSetupGETResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="AdviceSetupGETResult" nillable="true" type="q95:ArrayOfOPDAdvice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdviceDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adviceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deptid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdviceDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetAdviceDetailsResult" nillable="true" type="q96:ArrayOfOPDAdvice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Appointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hcn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/AH.APPOPD.MODEL" minOccurs="0" name="AppointmentResult" nillable="true" type="q97:ArrayOfOpdAppointment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugDoseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugDoseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugDoseListResult" nillable="true" type="q98:ArrayOfDrugDose" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConsumptionForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConsumptionFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getConsumptionFormResult" nillable="true" type="q99:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNurseStationDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNurseStationDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNurseStationDicResult" nillable="true" type="q100:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nsStnID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetDoctorsListResult" nillable="true" type="q101:ArrayOfOPDDoctorCallQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCallQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="Q" nillable="true" type="q102:OPDDoctorCallQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCallQResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCallQResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatHealthInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatHealthInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetPatHealthInfoResult" nillable="true" type="q103:OPDDoctorCallQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDiseaseGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDiseaseGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="getDiseaseGroupResult" nillable="true" type="q104:ArrayOfDiseaseCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDiseaseGroupDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDiseaseGroupDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getDiseaseGroupDicResult" nillable="true" type="q105:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetTicketListResult" nillable="true" type="q106:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketStatusForRefundOrCancel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketStatusForRefundOrCancelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetTicketStatusForRefundOrCancelResult" nillable="true" type="q107:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelTicketResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="tkt" nillable="true" type="q108:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefundTicketResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketFees">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketFeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="GetTicketFeesResult" nillable="true" type="q109:AccountsPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserCloseRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="tktFee" nillable="true" type="q110:AccountsPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserCloseRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUserCloseRegisterResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDRefundTicketMR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TicketNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDRefundTicketMRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetOPDRefundTicketMRResult" nillable="true" type="q111:ArrayOfOPDTicketRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDVoucher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ParamDateFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ParamDateTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDVoucherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetOPDVoucherResult" nillable="true" type="q112:ArrayOfOPDTicketRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestDets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deptid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="group" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="main" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestDetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/AH.DTMS.MODEL" minOccurs="0" name="GetTestDetsResult" nillable="true" type="q113:ArrayOfTestSub" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugDoseListByDrugName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="drugname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugDoseListByDrugNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugDoseListByDrugNameResult" nillable="true" type="q114:ArrayOfDrugDose" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMappingTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FeeCatagory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMappingTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/AH.DTMS.MODEL" minOccurs="0" name="GetAllMappingTestResult" nillable="true" type="q115:ArrayOfTestFee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugDoseListByGroupName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugDoseListByGroupNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/AH.DRUGS.MODEL" minOccurs="0" name="GetDrugDoseListByGroupNameResult" nillable="true" type="q116:ArrayOfDrugDose" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeecatDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeecatDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetFeecatDictResult" nillable="true" type="q117:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrescriptionForEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tkt_no" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrescriptionForEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetPrescriptionForEditResult" nillable="true" type="q118:Prescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDCollSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParamDateFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ParamDateTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDCollSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetOPDCollSummaryResult" nillable="true" type="q119:ArrayOfOPDTicketRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDVisitedPatList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dept_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unit_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doc_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDVisitedPatListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetOPDVisitedPatListResult" nillable="true" type="q120:ArrayOfOPDTicketRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTktStatusFrmDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTktStatusFrmDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeTktStatusFrmDocResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDPatTree">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HCN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDPatTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="GetOPDPatTreeResult" nillable="true" type="q121:ArrayOfOPDPrescriptionReportNewRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>