Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/PatientRegistrationSR/PatientRegistrationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AH.DUtility" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AH.DUtility" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Age">
    <xs:sequence>
      <xs:element minOccurs="0" name="Day" type="xs:int" />
      <xs:element minOccurs="0" name="Hour" type="xs:int" />
      <xs:element minOccurs="0" name="Month" type="xs:int" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Age" nillable="true" type="tns:Age" />
</xs:schema>