Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/DMSSR/DMSService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AH.DTMS.MODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AH.DTMS.MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:73/DMS/DMSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" />
  <xs:import schemaLocation="http://localhost:73/DMS/DMSService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" />
  <xs:import schemaLocation="http://localhost:73/DMS/DMSService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/AH.HR.MODEL" />
  <xs:complexType name="ArrayOfMachine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Machine" nillable="true" type="tns:Machine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMachine" nillable="true" type="tns:ArrayOfMachine" />
  <xs:complexType name="Machine">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q1:EntryParameter" />
      <xs:element minOccurs="0" name="MachineID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MachineTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MachineTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Machine" nillable="true" type="tns:Machine" />
  <xs:complexType name="Qualitative">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q2:EntryParameter" />
      <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Qualitative" nillable="true" type="tns:Qualitative" />
  <xs:complexType name="ArrayOfQualitative">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Qualitative" nillable="true" type="tns:Qualitative" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQualitative" nillable="true" type="tns:ArrayOfQualitative" />
  <xs:complexType name="QualitativeDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="DetID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetTitleBeng" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q3:EntryParameter" />
      <xs:element minOccurs="0" name="Qualitative" nillable="true" type="tns:Qualitative" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QualitativeDetail" nillable="true" type="tns:QualitativeDetail" />
  <xs:complexType name="ArrayOfQualitativeDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QualitativeDetail" nillable="true" type="tns:QualitativeDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQualitativeDetail" nillable="true" type="tns:ArrayOfQualitativeDetail" />
  <xs:complexType name="TestMethod">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q4:EntryParameter" />
      <xs:element minOccurs="0" name="MethodID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestMethod" nillable="true" type="tns:TestMethod" />
  <xs:complexType name="ArrayOfTestMethod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestMethod" nillable="true" type="tns:TestMethod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestMethod" nillable="true" type="tns:ArrayOfTestMethod" />
  <xs:complexType name="ColorCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColorTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColorTitleBeng" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q5:EntryParameter" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColorCode" nillable="true" type="tns:ColorCode" />
  <xs:complexType name="ArrayOfColorCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColorCode" nillable="true" type="tns:ColorCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColorCode" nillable="true" type="tns:ArrayOfColorCode" />
  <xs:complexType name="ArrayOfTestFee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestFee" nillable="true" type="tns:TestFee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestFee" nillable="true" type="tns:ArrayOfTestFee" />
  <xs:complexType name="TestFee">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="AccountsPayment" nillable="true" type="q6:AccountsPayment" />
      <xs:element minOccurs="0" name="Advance" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeptFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiagPackage" nillable="true" type="tns:DiagPackage" />
      <xs:element minOccurs="0" name="Discount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountAuthority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountReff" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoctorFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="Due" type="xs:decimal" />
      <xs:element minOccurs="0" name="DueStatus" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EParameter" nillable="true" type="q7:EntryParameter" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
      <xs:element minOccurs="0" name="FeeCategory" nillable="true" type="tns:FeeCategory" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" minOccurs="0" name="LabRoom" nillable="true" type="q8:LabRoom" />
      <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetPaid" type="xs:decimal" />
      <xs:element minOccurs="0" name="RefdFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="SpecimenHolder" nillable="true" type="tns:SpecimenHolder" />
      <xs:element minOccurs="0" name="TestSub" nillable="true" type="tns:TestSub" />
      <xs:element minOccurs="0" name="VAT" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestFee" nillable="true" type="tns:TestFee" />
  <xs:complexType name="DiagPackage">
    <xs:sequence>
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q9:EntryParameter" />
      <xs:element minOccurs="0" name="PackageAmount" type="xs:double" />
      <xs:element minOccurs="0" name="PackageID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiagPackage" nillable="true" type="tns:DiagPackage" />
  <xs:complexType name="FeeCategory">
    <xs:sequence>
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EParameter" nillable="true" type="q10:EntryParameter" />
      <xs:element minOccurs="0" name="FeeCategoryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeeCategoryRemarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeeCategoryTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeeCategoryTitleBeng" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeeCategory" nillable="true" type="tns:FeeCategory" />
  <xs:complexType name="SpecimenHolder">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorCode" nillable="true" type="tns:ColorCode" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q11:EntryParameter" />
      <xs:element minOccurs="0" name="HolderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HolderQuantity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HolderTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HolderTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecimenHolder" nillable="true" type="tns:SpecimenHolder" />
  <xs:complexType name="TestSub">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TestMain">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccCloseFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AllTest" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryAfter" type="xs:short" />
          <xs:element minOccurs="0" name="DeliveryAfterHours" type="xs:short" />
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EParameter" nillable="true" type="q12:EntryParameter" />
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" minOccurs="0" name="LabRoom" nillable="true" type="q13:LabRoom" />
          <xs:element minOccurs="0" name="LabelGroup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MRTestSubID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PanelID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PanelTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PosSerial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReportGroup" nillable="true" type="tns:ReportGroup" />
          <xs:element minOccurs="0" name="ReportSection" nillable="true" type="tns:ReportSection" />
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" minOccurs="0" name="Room" nillable="true" type="q14:Room" />
          <xs:element minOccurs="0" name="Serial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShortCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Specimen" nillable="true" type="tns:Specimen" />
          <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" minOccurs="0" name="SpecimenCollectionRoom" nillable="true" type="q15:SpecimenCollectionRoom" />
          <xs:element minOccurs="0" name="SpecimenHolder" nillable="true" type="tns:SpecimenHolder" />
          <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AH.HR.MODEL" minOccurs="0" name="Technologist" nillable="true" type="q16:LabTechnologist" />
          <xs:element minOccurs="0" name="TestCategory" nillable="true" type="tns:TestCategory" />
          <xs:element minOccurs="0" name="TestFee" nillable="true" type="tns:TestFee" />
          <xs:element minOccurs="0" name="TestMethod" nillable="true" type="tns:TestMethod" />
          <xs:element minOccurs="0" name="TestSubID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TestSubTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TestSubTitleAlias" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TestSubTitleBeng" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TicketNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TicketType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TestSub" nillable="true" type="tns:TestSub" />
  <xs:complexType name="TestMain">
    <xs:sequence>
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q17:EntryParameter" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="TestDepartment" nillable="true" type="q18:Department" />
      <xs:element minOccurs="0" name="TestGroup" nillable="true" type="tns:TestGroup" />
      <xs:element minOccurs="0" name="TestMainID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestMainTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestMainTitleBeng" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestMain" nillable="true" type="tns:TestMain" />
  <xs:complexType name="TestGroup">
    <xs:sequence>
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="Department" nillable="true" type="q19:Department" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EParameter" nillable="true" type="q20:EntryParameter" />
      <xs:element minOccurs="0" name="GroupId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestGroup" nillable="true" type="tns:TestGroup" />
  <xs:complexType name="ReportGroup">
    <xs:sequence>
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="Department" nillable="true" type="q21:Department" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q22:EntryParameter" />
      <xs:element minOccurs="0" name="GroupPanel" nillable="true" type="tns:GroupPanel" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportGroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportGroupTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportGroupTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportSection" nillable="true" type="tns:ReportSection" />
      <xs:element minOccurs="0" name="TestCategory" nillable="true" type="tns:TestCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportGroup" nillable="true" type="tns:ReportGroup" />
  <xs:complexType name="GroupPanel">
    <xs:sequence>
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParam" nillable="true" type="q23:EntryParameter" />
      <xs:element minOccurs="0" name="PanelID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PanelTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PanelTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupPanel" nillable="true" type="tns:GroupPanel" />
  <xs:complexType name="ReportSection">
    <xs:sequence>
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="Department" nillable="true" type="q24:Department" />
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q25:EntryParameter" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportSectionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportSectionTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportSectionTitleBeng" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportSection" nillable="true" type="tns:ReportSection" />
  <xs:complexType name="TestCategory">
    <xs:sequence>
      <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EParameter" nillable="true" type="q26:EntryParameter" />
      <xs:element minOccurs="0" name="TestCategoryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestCategoryRemarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestCategoryTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestCategoryTitleBeng" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestCategory" nillable="true" type="tns:TestCategory" />
  <xs:complexType name="Specimen">
    <xs:sequence>
      <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q27:EntryParameter" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecimenID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecimenTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecimenTitleBeng" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Specimen" nillable="true" type="tns:Specimen" />
  <xs:complexType name="ArrayOfReportSection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportSection" nillable="true" type="tns:ReportSection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportSection" nillable="true" type="tns:ArrayOfReportSection" />
  <xs:complexType name="ArrayOfReportGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportGroup" nillable="true" type="tns:ReportGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportGroup" nillable="true" type="tns:ArrayOfReportGroup" />
  <xs:complexType name="ArrayOfResultHeadRO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultHeadRO" nillable="true" type="tns:ResultHeadRO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultHeadRO" nillable="true" type="tns:ArrayOfResultHeadRO" />
  <xs:complexType name="ResultHeadRO">
    <xs:sequence>
      <xs:element minOccurs="0" name="LowerRange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LowerRangeChild" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LowerRangeFeMale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LowerRangeMale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MachineID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MachineTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RangeText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportGroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportGroupTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportSectionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportSectionTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultHeadGroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultHeadGroupTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultHeadID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultHeadTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultHeadTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpperRange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpperRangeChild" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpperRangeFeMale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpperRangeMale" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultHeadRO" nillable="true" type="tns:ResultHeadRO" />
  <xs:complexType name="ResultHead">
    <xs:sequence>
      <xs:element minOccurs="0" name="DefaultValue" nillable="true" type="xs:string" />
      <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q28:EntryParameter" />
      <xs:element minOccurs="0" name="GenderSentitive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HdGrpSerial" type="xs:decimal" />
      <xs:element minOccurs="0" name="InterpretationFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterpretationText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsLisSyn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LowerRange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LowerRangeChild" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LowerRangeFeMale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LowerRangeMale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Machine" nillable="true" type="tns:Machine" />
      <xs:element minOccurs="0" name="MachineString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QualitiveFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QualitiveGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RangeText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportGroup" nillable="true" type="tns:ReportGroup" />
      <xs:element minOccurs="0" name="ReportSection" nillable="true" type="tns:ReportSection" />
      <xs:element minOccurs="0" name="ResultGroup" nillable="true" type="tns:ResultHeadGroup" />
      <xs:element minOccurs="0" name="ResultHeadID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultHeadTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultHeadTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultHeadUnit" nillable="true" type="tns:ResultHeadUnit" />
      <xs:element minOccurs="0" name="ResultValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serial" type="xs:decimal" />
      <xs:element minOccurs="0" name="SpecimenID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestSub" nillable="true" type="tns:TestSub" />
      <xs:element minOccurs="0" name="UpperRange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpperRangeChild" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpperRangeFeMale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpperRangeMale" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultHead" nillable="true" type="tns:ResultHead" />
  <xs:complexType name="ResultHeadGroup">
    <xs:sequence>
      <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="Department" nillable="true" type="q29:Department" />
      <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q30:EntryParameter" />
      <xs:element minOccurs="0" name="IsVisible" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportSection" nillable="true" type="tns:ReportSection" />
      <xs:element minOccurs="0" name="ResultHeadGroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultHeadGroupTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultHeadGroupTitleBeng" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultHeadGroup" nillable="true" type="tns:ResultHeadGroup" />
  <xs:complexType name="ResultHeadUnit">
    <xs:sequence>
      <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q31:EntryParameter" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitTitleBeng" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultHeadUnit" nillable="true" type="tns:ResultHeadUnit" />
  <xs:complexType name="ArrayOfResultHead">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultHead" nillable="true" type="tns:ResultHead" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultHead" nillable="true" type="tns:ArrayOfResultHead" />
  <xs:complexType name="ArrayOfTestSub">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestSub" nillable="true" type="tns:TestSub" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestSub" nillable="true" type="tns:ArrayOfTestSub" />
  <xs:complexType name="ArrayOfDiagPackage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DiagPackage" nillable="true" type="tns:DiagPackage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiagPackage" nillable="true" type="tns:ArrayOfDiagPackage" />
  <xs:complexType name="EmrCollHead">
    <xs:sequence>
      <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="Department" nillable="true" type="q32:Department" />
      <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="DepartmentGroup" nillable="true" type="q33:DepartmentGroup" />
      <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="DepartmentUnit" nillable="true" type="q34:DepartmentUnit" />
      <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q35:EntryParameter" />
      <xs:element minOccurs="0" name="Fee" type="xs:double" />
      <xs:element minOccurs="0" name="HeadGroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeadID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeadTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeadTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSelectable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetPaid" type="xs:double" />
      <xs:element minOccurs="0" name="PosSerial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Qty" type="xs:double" />
      <xs:element minOccurs="0" name="SetAsDefault" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmrCollHead" nillable="true" type="tns:EmrCollHead" />
  <xs:complexType name="ArrayOfEmrCollHead">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmrCollHead" nillable="true" type="tns:EmrCollHead" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmrCollHead" nillable="true" type="tns:ArrayOfEmrCollHead" />
  <xs:complexType name="ArrayOfTestMain">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestMain" nillable="true" type="tns:TestMain" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestMain" nillable="true" type="tns:ArrayOfTestMain" />
  <xs:complexType name="ArrayOfTestGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestGroup" nillable="true" type="tns:TestGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestGroup" nillable="true" type="tns:ArrayOfTestGroup" />
  <xs:complexType name="ArrayOfGroupPanel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupPanel" nillable="true" type="tns:GroupPanel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupPanel" nillable="true" type="tns:ArrayOfGroupPanel" />
  <xs:complexType name="ArrayOfTestCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestCategory" nillable="true" type="tns:TestCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestCategory" nillable="true" type="tns:ArrayOfTestCategory" />
  <xs:complexType name="ArrayOfFeeCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FeeCategory" nillable="true" type="tns:FeeCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeeCategory" nillable="true" type="tns:ArrayOfFeeCategory" />
  <xs:complexType name="ArrayOfSpecimen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Specimen" nillable="true" type="tns:Specimen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecimen" nillable="true" type="tns:ArrayOfSpecimen" />
  <xs:complexType name="ArrayOfResultHeadGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultHeadGroup" nillable="true" type="tns:ResultHeadGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultHeadGroup" nillable="true" type="tns:ArrayOfResultHeadGroup" />
  <xs:complexType name="ArrayOfResultHeadUnit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultHeadUnit" nillable="true" type="tns:ResultHeadUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultHeadUnit" nillable="true" type="tns:ArrayOfResultHeadUnit" />
  <xs:complexType name="ArrayOfSpecimenHolder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpecimenHolder" nillable="true" type="tns:SpecimenHolder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecimenHolder" nillable="true" type="tns:ArrayOfSpecimenHolder" />
</xs:schema>