Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/ADMSSR/ADMSService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:89/ADMS/ADMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AH.ADMS.MODEL" />
  <xs:import schemaLocation="http://localhost:89/ADMS/ADMSService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SaveBedFee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AH.ADMS.MODEL" minOccurs="0" name="tbd" nillable="true" type="q1:BedCharges" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBedFeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveBedFeeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBedFee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AH.ADMS.MODEL" minOccurs="0" name="ubd" nillable="true" type="q2:BedCharges" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBedFeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBedFeeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedRateShow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bedtype" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedRateShowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AH.ADMS.MODEL" minOccurs="0" name="GetBedRateShowResult" nillable="true" type="q3:ArrayOfBedCharges" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyBedTestFee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bedtype" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyBedTestFeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyBedTestFeeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedtypeDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedtypeDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetBedtypeDictResult" nillable="true" type="q4:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetBuildingDictResult" nillable="true" type="q5:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedRates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AH.ADMS.MODEL" minOccurs="0" name="GetBedRatesResult" nillable="true" type="q6:ArrayOfBedCharges" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedRateSetup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bedtype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="headgroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedRateSetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AH.ADMS.MODEL" minOccurs="0" name="GetBedRateSetupResult" nillable="true" type="q7:ArrayOfBedCharges" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>