Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/ADMSSR/ADMSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AH.ADMS.MODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AH.ADMS.MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:89/ADMS/ADMSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" />
  <xs:import schemaLocation="http://localhost:89/ADMS/ADMSService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" />
  <xs:complexType name="BedCharges">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" minOccurs="0" name="BedType" nillable="true" type="q1:BedType" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" minOccurs="0" name="Building" nillable="true" type="q2:Building" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="Department" nillable="true" type="q3:Department" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q4:EntryParameter" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="RevenueHead" nillable="true" type="q5:RevenueHead" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="RevenueHeadGroup" nillable="true" type="q6:RevenueHeadGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BedCharges" nillable="true" type="tns:BedCharges" />
  <xs:complexType name="ArrayOfBedCharges">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BedCharges" nillable="true" type="tns:BedCharges" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBedCharges" nillable="true" type="tns:ArrayOfBedCharges" />
</xs:schema>