Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/OPRMSSR/OPRService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52/OPR/OPRService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" />
  <xs:import schemaLocation="http://localhost:52/OPR/OPRService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:52/OPR/OPRService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" />
  <xs:import schemaLocation="http://localhost:52/OPR/OPRService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" />
  <xs:element name="SaveGradeSetup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="grd" nillable="true" type="q1:Grade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGradeSetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveGradeSetupResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGrade">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetGradeResult" nillable="true" type="q2:ArrayOfGrade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGradeSetup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q3:Grade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGradeSetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGradeSetupResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q4:Grade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGradeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavetheaterSetup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q5:Theater" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavetheaterSetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavetheaterSetupResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatetheaterSetup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q6:Theater" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatetheaterSetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatetheaterSetupResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Deletetheater">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q7:Theater" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletetheaterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletetheaterResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTheater">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTheaterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetTheaterResult" nillable="true" type="q8:ArrayOfTheater" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAnesSetup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q9:AnesthesiaGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAnesSetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAnesSetupResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnesSetup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q10:AnesthesiaGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnesSetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAnesSetupResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnesGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q11:AnesthesiaGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnesGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAnesGroupResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTAnesthesia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTAnesthesiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetTAnesthesiaResult" nillable="true" type="q12:ArrayOfAnesthesiaGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnesthesiaGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnesthesiaGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAnesthesiaGroupsResult" nillable="true" type="q13:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAnesSetupMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q14:AnesthesiaMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAnesSetupMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAnesSetupMasterResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnesSetupMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q15:AnesthesiaMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnesSetupMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAnesSetupMasterResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnesthesiaMaster">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnesthesiaMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetAnesthesiaMasterResult" nillable="true" type="q16:ArrayOfAnesthesiaMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnesMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q17:AnesthesiaMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnesMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAnesMasterResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOperationTypeResult" nillable="true" type="q18:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadGrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadGradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoadGradeResult" nillable="true" type="q19:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAnesthesiaID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAnesthesiaIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoadAnesthesiaIDResult" nillable="true" type="q20:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOperationSetup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q21:OperationMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOperationSetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveOperationSetupResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperationSetup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q22:OperationMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperationSetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOperationSetupResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadOperationMaster">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadOperationMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="LoadOperationMasterResult" nillable="true" type="q23:ArrayOfOperationMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDepIDResult" nillable="true" type="q24:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTheaterBed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTheaterBedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTheaterBedResult" nillable="true" type="q25:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRegIDResult" nillable="true" type="q26:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomIdFromTheater">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomIdFromTheaterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRoomIdFromTheaterResult" nillable="true" type="q27:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorsCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strcontrol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorsCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDoctorsCategoryResult" nillable="true" type="q28:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedDoctotsCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q29:DoctorsCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedDoctotsCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavedDoctotsCategoryResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedDoctotsCategoryMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q30:DoctorsCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedDoctotsCategoryMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavedDoctotsCategoryMasterResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayDoctorsCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strcontrol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayDoctorsCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="DisplayDoctorsCategoryResult" nillable="true" type="q31:ArrayOfDoctorsCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorsAssign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strcontrol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorsAssignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDoctorsAssignResult" nillable="true" type="q32:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedPackagedItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q33:PackageItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedPackagedItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavedPackagedItemResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePackagedItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q34:PackageItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePackagedItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePackagedItemResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strcontrol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetPackageItemResult" nillable="true" type="q35:ArrayOfPackageItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedPackageMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q36:PackageItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedPackageMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavedPackageMasterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedPackageChild">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q37:PackageItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedPackageChildResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavedPackageChildResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strcontrol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetPackageResult" nillable="true" type="q38:ArrayOfPackageItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strcontrol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="DisplayPackageResult" nillable="true" type="q39:ArrayOfPackageItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePackageMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q40:PackageItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePackageMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePackageMasterResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePackageChild">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q41:PackageItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePackageChildResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePackageChildResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DispalyTeamAssign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strcontrol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DispalyTeamAssignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="DispalyTeamAssignResult" nillable="true" type="q42:ArrayOfDoctorsCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegScheduling">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegSchedulingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRegSchedulingResult" nillable="true" type="q43:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInchargeID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInchargeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetInchargeIDResult" nillable="true" type="q44:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacageInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacageInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPacageInformationResult" nillable="true" type="q45:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedOperationSchedulingMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q46:CalenderOT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedOperationSchedulingMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavedOperationSchedulingMasterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedOperationSchedulingChild">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strScheduleid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stRegDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRow" type="xs:int" />
        <xs:element minOccurs="0" name="intCol" type="xs:int" />
        <xs:element minOccurs="0" name="strTheaterid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strTimesSlot" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="entryby" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intversion" type="xs:int" />
        <xs:element minOccurs="0" name="strcompanyid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strlocationid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmachineid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedOperationSchedulingChildResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavedOperationSchedulingChildResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedOTteam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strScheduleid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strDoctorsID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="entryby" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intversion" type="xs:int" />
        <xs:element minOccurs="0" name="strcompanyid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strlocationid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmachineid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strdoctorsFtime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strdoctorsTtime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedOTteamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavedOTteamResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadOTtheater">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadOTtheaterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoadOTtheaterResult" nillable="true" type="q47:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayOTScheduling">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strcontrol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayOTSchedulingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="DisplayOTSchedulingResult" nillable="true" type="q48:ArrayOfCalenderOT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayOTSschedulingDoctors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strcontrol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayOTSschedulingDoctorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="DisplayOTSschedulingDoctorsResult" nillable="true" type="q49:ArrayOfCalenderOT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayOTPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strcontrol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayOTPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="DisplayOTPackageResult" nillable="true" type="q50:ArrayOfCalenderOT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInchargeIDBar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strcontrol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInchargeIDBarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetInchargeIDBarResult" nillable="true" type="q51:ArrayOfCalenderOT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInchargeIDBarchart">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInchargeIDBarchartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetInchargeIDBarchartResult" nillable="true" type="q52:ArrayOfOperationMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRowposofBarchat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strcontrol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRowposofBarchatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetRowposofBarchatResult" nillable="true" type="q53:ArrayOfCalenderOT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Displayotscheduling">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strcontrol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayotschedulingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="DisplayotschedulingResult" nillable="true" type="q54:ArrayOfCalenderOT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOTschedulingDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strcontrol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOTschedulingDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetOTschedulingDetailsResult" nillable="true" type="q55:ArrayOfCalenderOT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperationSchedulingMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q56:CalenderOT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperationSchedulingMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOperationSchedulingMasterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayDashBoard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strcontrol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayDashBoardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="DisplayDashBoardResult" nillable="true" type="q57:ArrayOfCalenderOT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="DisplayHistoryResult" nillable="true" type="q58:ArrayOfCalenderOT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayPatregistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strcontrol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayPatregistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="DisplayPatregistrationResult" nillable="true" type="q59:ArrayOfCalenderOT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayDoctorsInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strcontrol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayDoctorsInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="DisplayDoctorsInformationResult" nillable="true" type="q60:ArrayOfCalenderOT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayPackageInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strcontrol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayPackageInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="DisplayPackageInformationResult" nillable="true" type="q61:ArrayOfCalenderOT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayInchargeInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strcontrol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayInchargeInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="DisplayInchargeInformationResult" nillable="true" type="q62:ArrayOfCalenderOT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOTstatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSchedulueID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intStatus" type="xs:int" />
        <xs:element minOccurs="0" name="hcnno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Regno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Depid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dblPackageAmount" type="xs:double" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q63:CalenderOT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOTstatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOTstatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Getbedconfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pcontrol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetbedconfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetbedconfigResult" nillable="true" type="q64:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Savedchecklist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q65:ChecklistItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedchecklistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavedchecklistResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Updatedchecklist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q66:ChecklistItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatedchecklistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatedchecklistResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Deletechecklist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q67:ChecklistItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletechecklistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletechecklistResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChekcList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChekcListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetChekcListResult" nillable="true" type="q68:ArrayOfChecklistItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheklistOprtype">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strControlName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheklistOprtypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetCheklistOprtypeResult" nillable="true" type="q69:ArrayOfChecklistItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheklistRegNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pcontrol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheklistRegNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCheklistRegNoResult" nillable="true" type="q70:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegNotoChecklist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strControlName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegNotoChecklistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetRegNotoChecklistResult" nillable="true" type="q71:ArrayOfChecklistItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedChecklistConfigMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q72:ChecklistItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedChecklistConfigMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavedChecklistConfigMasterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedChecklistConfigChild">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strRefNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stritemcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intYes" type="xs:int" />
        <xs:element minOccurs="0" name="intNo" type="xs:int" />
        <xs:element minOccurs="0" name="strComments" nillable="true" type="xs:string" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q73:ChecklistItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedChecklistConfigChildResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavedChecklistConfigChildResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCheckList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strControlName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCheckListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="LoadCheckListResult" nillable="true" type="q74:ArrayOfChecklistItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayChecklistfromChecklistNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strControlName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayChecklistfromChecklistNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="DisplayChecklistfromChecklistNoResult" nillable="true" type="q75:ArrayOfChecklistItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChecklistConfigChild">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strRefNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stritemcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intYes" type="xs:int" />
        <xs:element minOccurs="0" name="intNo" type="xs:int" />
        <xs:element minOccurs="0" name="strComments" nillable="true" type="xs:string" />
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q76:ChecklistItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChecklistConfigChildResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateChecklistConfigChildResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChecklistConfigMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q77:ChecklistItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChecklistConfigMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateChecklistConfigMasterResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedOperationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q78:OperationMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavedOperationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavedOperationInfoResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatOperationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q79:OperationMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatOperationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatOperationInfoResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOperationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strrOprID" nillable="true" type="xs:string" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="objTran" nillable="true" type="q80:OperationMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOperationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteOperationInfoResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetoperationInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetoperationInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetoperationInformationResult" nillable="true" type="q81:ArrayOfOperationMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOTnameFromOTtype">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOTnameFromOTtypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOTnameFromOTtypeResult" nillable="true" type="q82:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOperationType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="ot" nillable="true" type="q83:OperationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOperationTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveOperationTypeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="upot" nillable="true" type="q84:OperationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOperationResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyOperationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetOperationConfigResult" nillable="true" type="q85:ArrayOfOperationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmittedPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrationNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmittedPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetAdmittedPatientResult" nillable="true" type="q86:InPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegDetailsFromOperarion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strControl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegDetailsFromOperarionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetRegDetailsFromOperarionResult" nillable="true" type="q87:ArrayOfCalenderOT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorsAvaiable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strControl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Fdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Tdate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorsAvaiableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetDoctorsAvaiableResult" nillable="true" type="q88:ArrayOfCalenderOT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOprDetailsReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Where" type="xs:int" />
        <xs:element minOccurs="0" name="Fdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Tdate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOprDetailsReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetOprDetailsReportResult" nillable="true" type="q89:ArrayOfOperationDetailsRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePackageOprMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="PI" nillable="true" type="q90:PackageItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePackageOprMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePackageOprMasterResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePackageOprMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="PI" nillable="true" type="q91:PackageItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePackageOprMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePackageOprMasterResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageMaster">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetPackageMasterResult" nillable="true" type="q92:ArrayOfPackageItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="GetUnitsResult" nillable="true" type="q93:ArrayOfDepartmentUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOprSubItem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOprSubItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetOprSubItemResult" nillable="true" type="q94:ArrayOfPackageItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageItemConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageItemConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetPackageItemConfigResult" nillable="true" type="q95:ArrayOfPackageItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strRegNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOperationStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>