Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/HRSR/HRService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AH.ORGMS.MODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AH.ORGMS.MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:86/HR/HRService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" />
  <xs:complexType name="FoodSubsidy">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q1:EntryParameter" />
      <xs:element minOccurs="0" name="JobLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Percent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serial" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FoodSubsidy" nillable="true" type="tns:FoodSubsidy" />
  <xs:complexType name="ArrayOfFoodSubsidy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FoodSubsidy" nillable="true" type="tns:FoodSubsidy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFoodSubsidy" nillable="true" type="tns:ArrayOfFoodSubsidy" />
  <xs:complexType name="ArrayOfDistrictThana">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DistrictThana" nillable="true" type="tns:DistrictThana" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistrictThana" nillable="true" type="tns:ArrayOfDistrictThana" />
  <xs:complexType name="DistrictThana">
    <xs:sequence>
      <xs:element minOccurs="0" name="DistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldPostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldPostOfficeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldThanaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerThanaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostOfficeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThanaName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DistrictThana" nillable="true" type="tns:DistrictThana" />
  <xs:complexType name="BankInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankTitleBeng" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q2:EntryParameter" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serial" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankInfo" nillable="true" type="tns:BankInfo" />
  <xs:complexType name="ArrayOfBankInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankInfo" nillable="true" type="tns:BankInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankInfo" nillable="true" type="tns:ArrayOfBankInfo" />
  <xs:complexType name="Organogram">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="Department" nillable="true" type="q3:Department" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="DepartmentUnit" nillable="true" type="q4:DepartmentUnit" />
      <xs:element minOccurs="0" name="DeptDesigString" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="Designation" nillable="true" type="q5:Designation" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q6:EntryParameter" />
      <xs:element minOccurs="0" name="NoOfPost" type="xs:short" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Organogram" nillable="true" type="tns:Organogram" />
  <xs:complexType name="ArrayOfOrganogram">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Organogram" nillable="true" type="tns:Organogram" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganogram" nillable="true" type="tns:ArrayOfOrganogram" />
</xs:schema>