Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/ATMSSR/ATMSService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AH.ACCMS.MODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AH.ACCMS.MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCostCategoryTreeview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CostCategoryTreeview" nillable="true" type="tns:CostCategoryTreeview" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCostCategoryTreeview" nillable="true" type="tns:ArrayOfCostCategoryTreeview" />
  <xs:complexType name="CostCategoryTreeview">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostCenterCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostCenterID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostcenterName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CostCategoryTreeview" nillable="true" type="tns:CostCategoryTreeview" />
</xs:schema>