Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/ATMSSR/ATMSService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60/ATMS/ATMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" />
  <xs:import schemaLocation="http://localhost:60/ATMS/ATMSService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:60/ATMS/ATMSService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/AH.ACCMS.MODEL" />
  <xs:element name="SaveServiceWarrenty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="service" nillable="true" type="q1:ServiceWarrenty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveServiceWarrentyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveServiceWarrentyResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceWarrenty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strTagNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceWarrentyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteServiceWarrentyResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayvoucherReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Control" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where" type="xs:int" />
        <xs:element minOccurs="0" name="Where1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayvoucherReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="DisplayvoucherReportResult" nillable="true" type="q2:ArrayOfVoucherRo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayvoucherIssueReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Control" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where" type="xs:int" />
        <xs:element minOccurs="0" name="Where1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayvoucherIssueReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="DisplayvoucherIssueReportResult" nillable="true" type="q3:ArrayOfVoucherRo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveServiceProviderInfor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="Sp" nillable="true" type="q4:ServiceProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveServiceProviderInforResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveServiceProviderInforResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServiceProviderInfor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="Sp" nillable="true" type="q5:ServiceProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServiceProviderInforResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateServiceProviderInforResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailsInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Control" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailsInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="GetDetailsInformationResult" nillable="true" type="q6:ArrayOfServiceProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveServiceDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSLNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strservID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strServdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strReturnDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strExperetdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strRemarks" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="Sd" nillable="true" type="q7:ServiceDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveServiceDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveServiceDetailsResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceProviderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Control" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceProviderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="GetServiceProviderInfoResult" nillable="true" type="q8:ArrayOfServiceProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceDetailsofSlno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Control" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceDetailsofSlnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="GetServiceDetailsofSlnoResult" nillable="true" type="q9:ArrayOfServiceProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSLNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteServiceDetailsResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Control" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetServiceProviderResult" nillable="true" type="q10:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Control" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="GetInvGroupResult" nillable="true" type="q11:ArrayOfAssetsGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Control" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="GetProductIssueResult" nillable="true" type="q12:ArrayOfAssetsIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Savewarehousetype">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="Wh" nillable="true" type="q13:Warehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavewarehousetypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavewarehousetypeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Updatewarehousetype">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="Wh" nillable="true" type="q14:Warehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatewarehousetypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatewarehousetypeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehousetype">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehousetypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="GetWarehousetypeResult" nillable="true" type="q15:ArrayOfWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Savewarehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="Wh" nillable="true" type="q16:WarehouseConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavewarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavewarehouseResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Updatewarehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="Wh" nillable="true" type="q17:WarehouseConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatewarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatewarehouseResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="GetWarehouseResult" nillable="true" type="q18:ArrayOfWarehouseConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadWarehouse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadWarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="LoadWarehouseResult" nillable="true" type="q19:ArrayOfWarehouseConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreWhstoretype">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreWhstoretypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="GetStoreWhstoretypeResult" nillable="true" type="q20:ArrayOfStoreType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockWHGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockWHGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="GetStockWHGroupResult" nillable="true" type="q21:ArrayOfInvGroups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHkwarehouseType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whtype" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHkwarehouseTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetHkwarehouseTypeResult" nillable="true" type="q22:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeHktwarehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeHktwarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="GeHktwarehouseResult" nillable="true" type="q23:ArrayOfWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GethkItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLocation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GethkItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="GethkItemResult" nillable="true" type="q24:ArrayOfHkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIomaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="IOmaster" nillable="true" type="q25:IOmaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIomasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveIomasterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIoDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dblqty" type="xs:double" />
        <xs:element minOccurs="0" name="statustype" type="xs:int" />
        <xs:element minOccurs="0" name="strRemarks" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Istatus" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="IOmaster" nillable="true" type="q26:IOmaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIoDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveIoDetailsResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHkDirtyItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intstatus" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHkDirtyItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="GetHkDirtyItemResult" nillable="true" type="q27:ArrayOfIOmaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHkArchiveLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strWhi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHkArchiveLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="GetHkArchiveLogResult" nillable="true" type="q28:ArrayOfIOmaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNurseStationDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNurseStationDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNurseStationDicResult" nillable="true" type="q29:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseStoreReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pFadte" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pTdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strStoreType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseStoreReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="GetWarehouseStoreReportResult" nillable="true" type="q30:ArrayOfWarehouseStoreRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayReceiptInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strStoreType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayReceiptInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="DisplayReceiptInformationResult" nillable="true" type="q31:ArrayOfIOmaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strStoreType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="GetWarehouseItemResult" nillable="true" type="q32:ArrayOfIOmaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIoDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dblqty" type="xs:double" />
        <xs:element minOccurs="0" name="statustype" type="xs:int" />
        <xs:element minOccurs="0" name="strRemarks" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Istatus" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="IOmaster" nillable="true" type="q33:IOmaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIoDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateIoDetailsResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIomaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="IOmaster" nillable="true" type="q34:IOmaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIomasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateIomasterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseIssueItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strStoreType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strActive" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseIssueItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="GetWarehouseIssueItemResult" nillable="true" type="q35:ArrayOfIOmaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayIssueInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strStoreType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayIssueInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/AH.ATMS.MODEL" minOccurs="0" name="DisplayIssueInformationResult" nillable="true" type="q36:ArrayOfIOmaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoadCategoryResult" nillable="true" type="q37:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCostcenterTreeview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="control" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCostcenterTreeviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/AH.ACCMS.MODEL" minOccurs="0" name="GetCostcenterTreeviewResult" nillable="true" type="q38:ArrayOfCostCategoryTreeview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetBuildingDictResult" nillable="true" type="q39:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDepartmentDictResult" nillable="true" type="q40:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="min" type="xs:short" />
        <xs:element minOccurs="0" name="max" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNumbersResult" nillable="true" type="q41:ArrayOfshort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>