Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/INVMSSR/INVMSService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:94/INVMS/INVMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" />
  <xs:import schemaLocation="http://localhost:94/INVMS/INVMSService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:94/INVMS/INVMSService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/AH.HR.MODEL" />
  <xs:import schemaLocation="http://localhost:94/INVMS/INVMSService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AH.ACCMS.MODEL" />
  <xs:element name="VarifyDemandReqNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VarifyDemandReqNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VarifyDemandReqNoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrDetailsDeptUnitWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deptid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unitid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrDetailsDeptUnitWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetDrDetailsDeptUnitWiseResult" nillable="true" type="q1:ArrayOfDemandRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VarifyPurchaseReqNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VarifyPurchaseReqNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VarifyPurchaseReqNoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrDetailsDeptUnitWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storetypeid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrDetailsDeptUnitWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetPrDetailsDeptUnitWiseResult" nillable="true" type="q2:ArrayOfPurchaseRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPRreport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPRreportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetPRreportResult" nillable="true" type="q3:ArrayOfPRReportRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockReportGroupwise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockReportGroupwiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetStockReportGroupwiseResult" nillable="true" type="q4:ArrayOfStockReportGroupwiseRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueReportGroupWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueReportGroupWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetIssueReportGroupWiseResult" nillable="true" type="q5:ArrayOfIssueReportRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPORecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPORecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetPORecordResult" nillable="true" type="q6:ArrayOfPurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemStockListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemStockListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetItemStockListAllResult" nillable="true" type="q7:ArrayOfItemMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemDetailsBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="drid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemDetailsBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetItemDetailsBatchResult" nillable="true" type="q8:ArrayOfItemOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadStoreType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadStoreTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="LoadStoreTypeResult" nillable="true" type="q9:ArrayOfStoreTypeSCM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsForOpening">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storeid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsForOpeningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetItemsForOpeningResult" nillable="true" type="q10:ArrayOfItemMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPurchaseRequisition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="opurchase" nillable="true" type="q11:PurchaseRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPurchaseRequisitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyPurchaseRequisitionResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VarifyPRForModify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VarifyPRForModifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VarifyPRForModifyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPRDetailsForPR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPRDetailsForPRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetPRDetailsForPRResult" nillable="true" type="q12:ArrayOfPurchaseRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrReportDateWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrReportDateWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetMrrReportDateWiseResult" nillable="true" type="q13:ArrayOfMaterialReceiveRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDRreport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDRreportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetDRreportResult" nillable="true" type="q14:ArrayOfDRReportRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VarifyPOForModify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VarifyPOForModifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VarifyPOForModifyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrVerifiedbyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verifyid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrVerifiedbyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetDrVerifiedbyListResult" nillable="true" type="q15:ArrayOfDemandRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseTypewise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseTypewiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetWarehouseTypewiseResult" nillable="true" type="q16:ArrayOfWarehouseConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhTypeforCentral">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="warehouse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhTypeforCentralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetWhTypeforCentralResult" nillable="true" type="q17:ArrayOfWarehouseConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTransferRequisition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="otr" nillable="true" type="q18:TransferRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTransferRequisitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTransferRequisitionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhTypeforSCM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="warehouse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWhTypeforSCMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetWhTypeforSCMResult" nillable="true" type="q19:ArrayOfWarehouseConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsByNameForTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storeid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsByNameForTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetItemsByNameForTransferResult" nillable="true" type="q20:ArrayOfItemMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTransferReceive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="otr" nillable="true" type="q21:TransferReceive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTransferReceiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTransferReceiveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTRID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="store" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTRIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetTRIDResult" nillable="true" type="q22:ArrayOfTransferRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTRDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTRDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetTRDetailsResult" nillable="true" type="q23:ArrayOfTransferRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemDetBatchTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storeid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemDetBatchTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetItemDetBatchTransferResult" nillable="true" type="q24:ArrayOfMaterialReceive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemStockForNS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grpid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemStockForNSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetItemStockForNSResult" nillable="true" type="q25:ArrayOfItemOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTRDetSearch">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTRDetSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetTRDetSearchResult" nillable="true" type="q26:ArrayOfTransferRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCompanyDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="ocompany" nillable="true" type="q27:CompanySetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCompanyDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCompanyDetailsResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetCompanyDetailsResult" nillable="true" type="q28:ArrayOfCompanySetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyCompanyDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="ocompany" nillable="true" type="q29:CompanySetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyCompanyDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyCompanyDetailsResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGroupDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="ogroup" nillable="true" type="q30:GroupDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGroupDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveGroupDetailsResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetGroupDetailsResult" nillable="true" type="q31:ArrayOfGroupDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyGroupDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="ogroup" nillable="true" type="q32:GroupDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyGroupDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyGroupDetailsResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUnitDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="ounit" nillable="true" type="q33:Units" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUnitDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveUnitDetailsResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitSetup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitSetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetUnitSetupResult" nillable="true" type="q34:ArrayOfUnits" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyUnitDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="ounit" nillable="true" type="q35:Units" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyUnitDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyUnitDetailsResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePacketType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="otype" nillable="true" type="q36:PacketType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePacketTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePacketTypeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacketType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacketTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetPacketTypeResult" nillable="true" type="q37:ArrayOfPacketType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPacketType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="otype" nillable="true" type="q38:PacketType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPacketTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyPacketTypeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveModelDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="omodel" nillable="true" type="q39:ModelSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveModelDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveModelDetailsResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetModelDetailsResult" nillable="true" type="q40:ArrayOfModelSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyModelDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="omodel" nillable="true" type="q41:ModelSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyModelDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyModelDetailsResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBrandDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="obrand" nillable="true" type="q42:BrandSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBrandDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveBrandDetailsResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrandDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrandDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetBrandDetailsResult" nillable="true" type="q43:ArrayOfBrandSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyBrandDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="obrand" nillable="true" type="q44:BrandSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyBrandDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyBrandDetailsResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="osupplier" nillable="true" type="q45:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSupplierResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetSupplierListResult" nillable="true" type="q46:ArrayOfSupplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="suppliername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetSupplierByNameResult" nillable="true" type="q47:ArrayOfSupplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifySupplierList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="osupplier" nillable="true" type="q48:Supplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifySupplierListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifySupplierListResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveItemMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="omaster" nillable="true" type="q49:ItemMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveItemMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveItemMasterResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemMaster">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetItemMasterResult" nillable="true" type="q50:ArrayOfItemMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemMasterByGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grpid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemMasterByGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetItemMasterByGroupResult" nillable="true" type="q51:ArrayOfItemMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storeid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetItemsByNameResult" nillable="true" type="q52:ArrayOfItemMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyItemMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="omaster" nillable="true" type="q53:ItemMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyItemMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyItemMasterResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetGroupListResult" nillable="true" type="q54:ArrayOfGroupDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemListGroupWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemListGroupWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetItemListGroupWiseResult" nillable="true" type="q55:ArrayOfItemListRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStoreLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="ostore" nillable="true" type="q56:StoreLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStoreLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveStoreLocationResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyStoreLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="ostore" nillable="true" type="q57:StoreLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyStoreLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyStoreLocationResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreLocation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetStoreLocationResult" nillable="true" type="q58:ArrayOfStoreLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="min" type="xs:short" />
        <xs:element minOccurs="0" name="max" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNumbersResult" nillable="true" type="q59:ArrayOfshort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetBuildingDictResult" nillable="true" type="q60:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDemandRequisition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="odemand" nillable="true" type="q61:DemandRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDemandRequisitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDemandRequisitionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDepartmentsResult" nillable="true" type="q62:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Dept" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUnitDictResult" nillable="true" type="q63:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePurchaseRequisition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="opurchase" nillable="true" type="q64:PurchaseRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePurchaseRequisitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePurchaseRequisitionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetDrIDResult" nillable="true" type="q65:ArrayOfDemandRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrNODeptUnitwise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deptid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unitid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrNODeptUnitwiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetDrNODeptUnitwiseResult" nillable="true" type="q66:ArrayOfDemandRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetDrDetailsResult" nillable="true" type="q67:ArrayOfDemandRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePurchaseOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="opurchaseorder" nillable="true" type="q68:PurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePurchaseOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePurchaseOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPRDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPRDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetPRDetailsResult" nillable="true" type="q69:ArrayOfPurchaseRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPRID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPRIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetPRIDResult" nillable="true" type="q70:ArrayOfPurchaseRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMrrDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="omatreceive" nillable="true" type="q71:MaterialReceive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMrrDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveMrrDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPONumbers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPONumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetPONumbersResult" nillable="true" type="q72:ArrayOfPurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPODetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPODetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetPODetailsResult" nillable="true" type="q73:ArrayOfPurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveItemRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="rate" nillable="true" type="q74:ItemRates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveItemRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveItemRatesResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemRates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetItemRatesResult" nillable="true" type="q75:ArrayOfItemRates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveItemIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="oitems" nillable="true" type="q76:ItemIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveItemIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveItemIssueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartDayClose">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="odayclose" nillable="true" type="q77:DayEnd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartDayCloseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartDayCloseResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="day" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyDateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpeningEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MrrID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpeningEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetOpeningEntryResult" nillable="true" type="q78:ArrayOfMaterialReceive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMRRNumber">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMRRNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetMRRNumberResult" nillable="true" type="q79:ArrayOfMaterialReceive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyOpeningItemID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storeid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyOpeningItemIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyOpeningItemIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIssueRequisition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="oissue" nillable="true" type="q80:IssueRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIssueRequisitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveIssueRequisitionResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storeid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetStockDetailsResult" nillable="true" type="q81:ArrayOfStock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockDetailsStoreWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockDetailsStoreWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetStockDetailsStoreWiseResult" nillable="true" type="q82:ArrayOfStockListRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIRNumbers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIRNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetIRNumbersResult" nillable="true" type="q83:ArrayOfIssueRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIRDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="irid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIRDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetIRDetailsResult" nillable="true" type="q84:ArrayOfIssueRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductLedger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prodid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductLedgerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetProductLedgerResult" nillable="true" type="q85:ArrayOfProductLedgerRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOReportDateWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOReportDateWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetPOReportDateWiseResult" nillable="true" type="q86:ArrayOfPODetailsRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueReportDateWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueReportDateWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetIssueReportDateWiseResult" nillable="true" type="q87:ArrayOfIssueReportRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStoreUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="ouser" nillable="true" type="q88:StoreUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStoreUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveStoreUserResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetStoreUserResult" nillable="true" type="q89:ArrayOfStoreUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIssueType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="otype" nillable="true" type="q90:IssueType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIssueTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveIssueTypeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyIssueType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="otype" nillable="true" type="q91:IssueType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyIssueTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyIssueTypeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetIssueTypeResult" nillable="true" type="q92:ArrayOfIssueType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCostCenter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="ocost" nillable="true" type="q93:CostCenter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCostCenterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCostCenterResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyCostCenter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="ocost" nillable="true" type="q94:CostCenter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyCostCenterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyCostCenterResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCostCenter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCostCenterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetCostCenterResult" nillable="true" type="q95:ArrayOfCostCenter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/AH.HR.MODEL" minOccurs="0" name="GetEmpMasterResult" nillable="true" type="q96:EmployeeMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCostCenterByIssueType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issuetype" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCostCenterByIssueTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetCostCenterByIssueTypeResult" nillable="true" type="q97:ArrayOfCostCenter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetPOReportResult" nillable="true" type="q98:ArrayOfPODetailsRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mrid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetMrrReportResult" nillable="true" type="q99:ArrayOfMrrReportRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpeningReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mrid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpeningReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetOpeningReportResult" nillable="true" type="q100:ArrayOfMrrReportRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCostcategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="control" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCostcategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/AH.ACCMS.MODEL" minOccurs="0" name="GetCostcategoryResult" nillable="true" type="q101:ArrayOfCostCategoryTreeview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountCostcenter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="control" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountCostcenterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/AH.ACCMS.MODEL" minOccurs="0" name="GetAccountCostcenterResult" nillable="true" type="q102:ArrayOfCostCategoryTreeview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePurchaseReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="oret" nillable="true" type="q103:PurchaseReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePurchaseReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePurchaseReturnResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIssueReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="oret" nillable="true" type="q104:IssueReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIssueReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveIssueReturnResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MrrID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetMrrDetailsResult" nillable="true" type="q105:ArrayOfMaterialReceive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAssetTrackerMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="oasset" nillable="true" type="q106:AssetTrackerMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAssetTrackerMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAssetTrackerMasterResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Control" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetServiceProviderResult" nillable="true" type="q107:ArrayOfServiceProviderSCM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceProviderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Control" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceProviderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetServiceProviderInfoResult" nillable="true" type="q108:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetTrackerSerialNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetTrackerSerialNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetAssetTrackerSerialNoResult" nillable="true" type="q109:ArrayOfAssetTrackerMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStoreType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="St" nillable="true" type="q110:StoreTypeSCM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStoreTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveStoreTypeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStoreType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="St" nillable="true" type="q111:StoreTypeSCM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStoreTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStoreTypeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetStoreTypeResult" nillable="true" type="q112:ArrayOfStoreTypeSCM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMajorGrp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="Mg" nillable="true" type="q113:Majorgroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMajorGrpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveMajorGrpResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Majorgroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="Mg" nillable="true" type="q114:Majorgroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_MajorgroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_MajorgroupResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMajorGrp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMajorGrpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetMajorGrpResult" nillable="true" type="q115:ArrayOfMajorgroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreTypeofGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreTypeofGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStoreTypeofGroupResult" nillable="true" type="q116:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetSalesReportResult" nillable="true" type="q117:ArrayOfSalesReportRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupByMajorGrp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strtype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="majorgrp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupByMajorGrpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetGroupByMajorGrpResult" nillable="true" type="q118:ArrayOfGroupDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMajorGrpByStrtype">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strtype" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMajorGrpByStrtypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetMajorGrpByStrtypeResult" nillable="true" type="q119:ArrayOfMajorgroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetIssueDetailsResult" nillable="true" type="q120:ArrayOfItemIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreLocByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strtype" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreLocByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetStoreLocByTypeResult" nillable="true" type="q121:ArrayOfStoreLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockDetailsReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grpid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockDetailsReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetStockDetailsReportResult" nillable="true" type="q122:ArrayOfStockDetailsReportRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTermsandCondition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="oterms" nillable="true" type="q123:TermsAndConditions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTermsandConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTermsandConditionResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTermsandCondition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="oterms" nillable="true" type="q124:TermsAndConditions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyTermsandConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyTermsandConditionResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTermsandCondition">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTermsandConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetTermsandConditionResult" nillable="true" type="q125:ArrayOfTermsAndConditions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOTermsConditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOTermsConditionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetPOTermsConditionsResult" nillable="true" type="q126:ArrayOfPOTermsConditionRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptUnitDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeptGrp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deptid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptUnitDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDeptUnitDicResult" nillable="true" type="q127:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentsetupDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deptgr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentsetupDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDepartmentsetupDicResult" nillable="true" type="q128:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetSerialNoForIssueReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetSerialNoForIssueReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetAssetSerialNoForIssueReturnResult" nillable="true" type="q129:ArrayOfAssetTrackerMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemGroupStoretypeWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storetype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="majorgroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemGroupStoretypeWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetItemGroupStoretypeWiseResult" nillable="true" type="q130:ArrayOfItemListGrpStrWiseRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeHktwarehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeHktwarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GeHktwarehouseResult" nillable="true" type="q131:ArrayOfWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Savewarehousetype">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="Wh" nillable="true" type="q132:Warehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavewarehousetypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavewarehousetypeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Updatewarehousetype">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="Wh" nillable="true" type="q133:Warehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatewarehousetypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatewarehousetypeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehousetype">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehousetypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetWarehousetypeResult" nillable="true" type="q134:ArrayOfWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Savewarehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="Wh" nillable="true" type="q135:WarehouseConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavewarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavewarehouseResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Updatewarehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="Wh" nillable="true" type="q136:WarehouseConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatewarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatewarehouseResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetWarehouseResult" nillable="true" type="q137:ArrayOfWarehouseConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadWarehouse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadWarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="LoadWarehouseResult" nillable="true" type="q138:ArrayOfWarehouseConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCostcenterTreeview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="control" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCostcenterTreeviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/AH.ACCMS.MODEL" minOccurs="0" name="GetCostcenterTreeviewResult" nillable="true" type="q139:ArrayOfCostCategoryTreeview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNurseStationDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNurseStationDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNurseStationDicResult" nillable="true" type="q140:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoadCategoryResult" nillable="true" type="q141:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierLedger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ledgergroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierLedgerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSupplierLedgerResult" nillable="true" type="q142:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequisitionVerifiedBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deptid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unitid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequisitionVerifiedByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetRequisitionVerifiedByResult" nillable="true" type="q143:ArrayOfDemandRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyDemandRequisition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="odemand" nillable="true" type="q144:DemandRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyDemandRequisitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyDemandRequisitionResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequisitionTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequisitionTrackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetRequisitionTrackResult" nillable="true" type="q145:ArrayOfPurchaseRequisition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOTracking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOTrackingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetPOTrackingResult" nillable="true" type="q146:ArrayOfPurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrTracking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrTrackingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetMrrTrackingResult" nillable="true" type="q147:ArrayOfMaterialReceive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOTrackingByPrId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOTrackingByPrIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetPOTrackingByPrIdResult" nillable="true" type="q148:ArrayOfPurchaseOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrTrackingByPONo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrTrackingByPONoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetMrrTrackingByPONoResult" nillable="true" type="q149:ArrayOfMaterialReceive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrDetailsForPurchaseReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mrrid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrrDetailsForPurchaseReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetMrrDetailsForPurchaseReturnResult" nillable="true" type="q150:ArrayOfMaterialReceive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VarifyItemForReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mrrid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VarifyItemForReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VarifyItemForReturnResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemStockList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grpid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemStockListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetItemStockListResult" nillable="true" type="q151:ArrayOfItemMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>