Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/IPDSR/IPDNEWService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:68/IPDNEW/IPDNEWService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" />
  <xs:import schemaLocation="http://localhost:68/IPDNEW/IPDNEWService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" />
  <xs:import schemaLocation="http://localhost:68/IPDNEW/IPDNEWService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:68/IPDNEW/IPDNEWService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" />
  <xs:import schemaLocation="http://localhost:68/IPDNEW/IPDNEWService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" />
  <xs:import schemaLocation="http://localhost:68/IPDNEW/IPDNEWService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" />
  <xs:import schemaLocation="http://localhost:68/IPDNEW/IPDNEWService.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/AH.DTMS.MODEL" />
  <xs:import schemaLocation="http://localhost:68/IPDNEW/IPDNEWService.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" />
  <xs:import schemaLocation="http://localhost:68/IPDNEW/IPDNEWService.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/AH.DMS.MODEL" />
  <xs:import schemaLocation="http://localhost:68/IPDNEW/IPDNEWService.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" />
  <xs:element name="SaveDeliveryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="tipd" nillable="true" type="q1:DeliveryType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDeliveryTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDeliveryTypeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDelType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="uipd" nillable="true" type="q2:DeliveryType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDelTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDelTypeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="GetDeliveryTypeResult" nillable="true" type="q3:ArrayOfDeliveryType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyDeliveryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdmissionReason">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="admr" nillable="true" type="q4:AdmissionReason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdmissionReasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAdmissionReasonResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmReason">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmReasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="GetAdmReasonResult" nillable="true" type="q5:ArrayOfAdmissionReason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdmissionReason">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="admr" nillable="true" type="q6:AdmissionReason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdmissionReasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAdmissionReasonResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmReasonDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmReasonDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAdmReasonDictResult" nillable="true" type="q7:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdmReasonAss">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="admass" nillable="true" type="q8:AdmReasonAssign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdmReasonAssResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAdmReasonAssResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmReasonAss">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmReasonAssResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="GetAdmReasonAssResult" nillable="true" type="q9:ArrayOfAdmReasonAssign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmResonDeptWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmResonDeptWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="GetAdmResonDeptWiseResult" nillable="true" type="q10:ArrayOfAdmReasonAssign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmReasonDeptWiseDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="departmentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmReasonDeptWiseDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAdmReasonDeptWiseDictResult" nillable="true" type="q11:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMinStayingDays">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="admReason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMinStayingDaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMinStayingDaysResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveAdmission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="adm" nillable="true" type="q12:InPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveAdmissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveAdmissionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmittedPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrationNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmittedPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetAdmittedPatientResult" nillable="true" type="q13:InPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvPay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvPayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="GetAdvPayResult" nillable="true" type="q14:ArrayOfOPDPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdvanpay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="adv" nillable="true" type="q15:InPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdvanpayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAdvanpayResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBedTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="trans" nillable="true" type="q16:InPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBedTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveBedTransferResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrationNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalAmountResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDeptTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="tradept" nillable="true" type="q17:InPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDeptTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDeptTransferResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedHist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedHistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetBedHistResult" nillable="true" type="q18:ArrayOfInPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetDeptHistoryResult" nillable="true" type="q19:ArrayOfInPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyInPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyInPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyInPatientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentRevenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentRevenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="GetDepartmentRevenueResult" nillable="true" type="q20:ArrayOfRevenueHead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptUnitDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deptgrp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deptid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptUnitDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDeptUnitDicResult" nillable="true" type="q21:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetWardsResult" nillable="true" type="q22:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNurse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNurseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNurseResult" nillable="true" type="q23:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="GetPatientResult" nillable="true" type="q24:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyPatientNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyPatientNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyPatientNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedRateSetup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bedCategoryTypeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="headgroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedRateSetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="GetBedRateSetupResult" nillable="true" type="q25:ArrayOfBedCharges" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmissionMoneyReceipt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moneyReceiptNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmissionMoneyReceiptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="GetAdmissionMoneyReceiptResult" nillable="true" type="q26:ArrayOfAdmissionReportRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdmissionReffType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="delType" nillable="true" type="q27:AdmissionReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdmissionReffTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAdmissionReffTypeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmReffType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmReffTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="GetAdmReffTypeResult" nillable="true" type="q28:ArrayOfAdmissionReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdmissionReffType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="delType" nillable="true" type="q29:AdmissionReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdmissionReffTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAdmissionReffTypeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmReffTypeDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmReffTypeDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAdmReffTypeDicResult" nillable="true" type="q30:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentHead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deptID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unitID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentHeadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetDepartmentHeadResult" nillable="true" type="q31:ArrayOfInPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="presID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetPatientDetailsResult" nillable="true" type="q32:InPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyTicketNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prescriptionNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isPrescribed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyTicketNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyTicketNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientDetailsForDis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientDetailsForDisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetPatientDetailsForDisResult" nillable="true" type="q33:InPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientAdvancePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientAdvancePaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetPatientAdvancePaymentResult" nillable="true" type="q34:InPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePatientForDischarge">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="adm" nillable="true" type="q35:InPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePatientForDischargeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePatientForDischargeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatDischargeBillSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatDischargeBillSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="GetPatDischargeBillSummaryResult" nillable="true" type="q36:ArrayOfDischargeReportRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyHcnNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hcn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyHcnNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyHcnNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyPatientDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deptID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unitID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyPatientDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyPatientDepartmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePatientAdmissionCancel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="adm" nillable="true" type="q37:InPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePatientAdmissionCancelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePatientAdmissionCancelResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCancelReason">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="canRes" nillable="true" type="q38:CancelReasonSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCancelReasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCancelReasonResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmCancelReasonDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="canRes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmCancelReasonDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAdmCancelReasonDicResult" nillable="true" type="q39:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCancelReason">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="canRes" nillable="true" type="q40:CancelReasonSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCancelReasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCancelReasonResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCancelReason">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCancelReasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="GetCancelReasonResult" nillable="true" type="q41:ArrayOfCancelReasonSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPatStayingTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPatStayingTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckPatStayingTimeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatRegID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bedID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatRegIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetPatRegIDResult" nillable="true" type="q42:InPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientEmergencyContactDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hcn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientEmergencyContactDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetPatientEmergencyContactDetailsResult" nillable="true" type="q43:InPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientAdressInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hcn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientAdressInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetPatientAdressInformationResult" nillable="true" type="q44:InPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePackageMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="pkg" nillable="true" type="q45:PackageSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePackageMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePackageMasterResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageMaster">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="GetPackageMasterResult" nillable="true" type="q46:ArrayOfPackageSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePackageMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="pkg" nillable="true" type="q47:PackageSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePackageMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePackageMasterResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageMasteDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageMasteDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPackageMasteDicResult" nillable="true" type="q48:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmittedPatientList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmittedPatientListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetAdmittedPatientListResult" nillable="true" type="q49:ArrayOfInPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalAmountForDischarge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrationNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalAmountForDischargeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalAmountForDischargeResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBedFee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="tbd" nillable="true" type="q50:BedCharges" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBedFeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveBedFeeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBedFee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="ubd" nillable="true" type="q51:BedCharges" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBedFeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBedFeeResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bedtype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bedFacilityTypeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="GetBedRateResult" nillable="true" type="q52:ArrayOfBedCharges" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyBedTestFee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bedtype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bedCategoryTypeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyBedTestFeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyBedTestFeeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedtypeDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedtypeDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetBedtypeDictResult" nillable="true" type="q53:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetBuildingDictResult" nillable="true" type="q54:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedRates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="GetBedRatesResult" nillable="true" type="q55:ArrayOfBedCharges" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRevHdGrps">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRevHdGrpsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRevHdGrpsResult" nillable="true" type="q56:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRevenueHeads">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="headgr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRevenueHeadsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRevenueHeadsResult" nillable="true" type="q57:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedfacility">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedfacilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetBedfacilityResult" nillable="true" type="q58:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedInfoByBedID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bedID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedInfoByBedIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" minOccurs="0" name="GetBedInfoByBedIDResult" nillable="true" type="q59:Bed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedSets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bedtype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bedstatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedSetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" minOccurs="0" name="GetBedSetsResult" nillable="true" type="q60:ArrayOfBed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNurseBeds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nsstn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="level" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNurseBedsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" minOccurs="0" name="GetNurseBedsResult" nillable="true" type="q61:ArrayOfBed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLevelWiseBeds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nstn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="level_no" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLevelWiseBedsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" minOccurs="0" name="GetLevelWiseBedsResult" nillable="true" type="q62:ArrayOfBed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDetailsByRegID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIssueDetailsByRegIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/AH.PHRMS.MODEL" minOccurs="0" name="GetIssueDetailsByRegIDResult" nillable="true" type="q63:ArrayOfDrugIssue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDmrTestsForIPD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDmrTestsForIPDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/AH.DTMS.MODEL" minOccurs="0" name="GetDmrTestsForIPDResult" nillable="true" type="q64:ArrayOfTestFee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegDetailsFromOperarion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strControl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegDetailsFromOperarionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/AH.OPRMS.MODEL" minOccurs="0" name="GetRegDetailsFromOperarionResult" nillable="true" type="q65:ArrayOfCalenderOT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strRegNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOperationStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientInfoByBedID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bedID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientInfoByBedIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetPatientInfoByBedIDResult" nillable="true" type="q66:InPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatDischargeBillDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatDischargeBillDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="GetPatDischargeBillDetailsResult" nillable="true" type="q67:ArrayOfPatientDischargeBillDetailsRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="GetAdvPaymentResult" nillable="true" type="q68:ArrayOfAdvanceDepositRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentsetupDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deptgr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentsetupDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDepartmentsetupDicResult" nillable="true" type="q69:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmittedPatReportList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmittedPatReportListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="GetAdmittedPatReportListResult" nillable="true" type="q70:ArrayOfAdmissionReportRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserCloseRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="oAccount" nillable="true" type="q71:AccountsPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserCloseRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUserCloseRegisterResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionToTransferAcc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionToTransferAccResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="GetCollectionToTransferAccResult" nillable="true" type="q72:AccountsPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmissionCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moneyReceiptNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmissionCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="GetAdmissionCardResult" nillable="true" type="q73:ArrayOfAdmissionReportRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNurseStationDic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNurseStationDicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNurseStationDicResult" nillable="true" type="q74:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIPDVisitingFeeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reg_ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIPDVisitingFeeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetIPDVisitingFeeDetailsResult" nillable="true" type="q75:ArrayOfIPDDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePatientDeath">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="death" nillable="true" type="q76:PatientDeath" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePatientDeathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePatientDeathResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDDoctorsDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deptID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UnitID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDDoctorsDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOPDDoctorsDictResult" nillable="true" type="q77:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeathCertificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeathCertificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="DeathCertificateResult" nillable="true" type="q78:ArrayOfIPDDeathRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChildBirth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="birth" nillable="true" type="q79:IPDBirth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChildBirthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveChildBirthResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BirthCertificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BirthCertificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/AH.IPD.MODEL" minOccurs="0" name="BirthCertificateResult" nillable="true" type="q80:ArrayOfIPDBirthCertificateRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmerDetailsForIPD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Prescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmerDetailsForIPDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/AH.DMS.MODEL" minOccurs="0" name="GetEmerDetailsForIPDResult" nillable="true" type="q81:ArrayOfEmergencyCollectionMR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIPDDoctorsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIPDDoctorsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="GetIPDDoctorsListResult" nillable="true" type="q82:ArrayOfIPDDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIPDDoctorsDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deptID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UnitID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIPDDoctorsDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetIPDDoctorsDictResult" nillable="true" type="q83:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptGroupDicByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptGroupDicByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDeptGroupDicByTypeResult" nillable="true" type="q84:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDDoctorDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeptID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UnitID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPDDoctorDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOPDDoctorDictResult" nillable="true" type="q85:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIPDDoctors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="oIPDDOc" nillable="true" type="q86:IPDDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIPDDoctorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertIPDDoctorsResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillableItemDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillableItemDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/AH.INVMS.MODEL" minOccurs="0" name="GetBillableItemDetailsResult" nillable="true" type="q87:ArrayOfItemOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>