Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/IPDSR/IPDNEWService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AH.DTMS.MODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AH.DTMS.MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:68/IPDNEW/IPDNEWService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" />
  <xs:import schemaLocation="http://localhost:68/IPDNEW/IPDNEWService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" />
  <xs:import schemaLocation="http://localhost:68/IPDNEW/IPDNEWService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/AH.HR.MODEL" />
  <xs:complexType name="ArrayOfTestFee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestFee" nillable="true" type="tns:TestFee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestFee" nillable="true" type="tns:ArrayOfTestFee" />
  <xs:complexType name="TestFee">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="AccountsPayment" nillable="true" type="q1:AccountsPayment" />
      <xs:element minOccurs="0" name="Advance" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeptFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiagPackage" nillable="true" type="tns:DiagPackage" />
      <xs:element minOccurs="0" name="Discount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountAuthority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountReff" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoctorFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="Due" type="xs:decimal" />
      <xs:element minOccurs="0" name="DueStatus" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EParameter" nillable="true" type="q2:EntryParameter" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
      <xs:element minOccurs="0" name="FeeCategory" nillable="true" type="tns:FeeCategory" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" minOccurs="0" name="LabRoom" nillable="true" type="q3:LabRoom" />
      <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetPaid" type="xs:decimal" />
      <xs:element minOccurs="0" name="RefdFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="SpecimenHolder" nillable="true" type="tns:SpecimenHolder" />
      <xs:element minOccurs="0" name="TestSub" nillable="true" type="tns:TestSub" />
      <xs:element minOccurs="0" name="VAT" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestFee" nillable="true" type="tns:TestFee" />
  <xs:complexType name="DiagPackage">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q4:EntryParameter" />
      <xs:element minOccurs="0" name="PackageAmount" type="xs:double" />
      <xs:element minOccurs="0" name="PackageID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiagPackage" nillable="true" type="tns:DiagPackage" />
  <xs:complexType name="FeeCategory">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EParameter" nillable="true" type="q5:EntryParameter" />
      <xs:element minOccurs="0" name="FeeCategoryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeeCategoryRemarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeeCategoryTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeeCategoryTitleBeng" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeeCategory" nillable="true" type="tns:FeeCategory" />
  <xs:complexType name="SpecimenHolder">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorCode" nillable="true" type="tns:ColorCode" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q6:EntryParameter" />
      <xs:element minOccurs="0" name="HolderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HolderQuantity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HolderTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HolderTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecimenHolder" nillable="true" type="tns:SpecimenHolder" />
  <xs:complexType name="ColorCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColorTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColorTitleBeng" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q7:EntryParameter" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColorCode" nillable="true" type="tns:ColorCode" />
  <xs:complexType name="TestSub">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TestMain">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccCloseFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AllTest" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryAfter" type="xs:short" />
          <xs:element minOccurs="0" name="DeliveryAfterHours" type="xs:short" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EParameter" nillable="true" type="q8:EntryParameter" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" minOccurs="0" name="LabRoom" nillable="true" type="q9:LabRoom" />
          <xs:element minOccurs="0" name="LabelGroup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MRTestSubID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PanelID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PanelTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PosSerial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReportGroup" nillable="true" type="tns:ReportGroup" />
          <xs:element minOccurs="0" name="ReportSection" nillable="true" type="tns:ReportSection" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" minOccurs="0" name="Room" nillable="true" type="q10:Room" />
          <xs:element minOccurs="0" name="Serial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShortCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Specimen" nillable="true" type="tns:Specimen" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AH.PRMS.MODEL" minOccurs="0" name="SpecimenCollectionRoom" nillable="true" type="q11:SpecimenCollectionRoom" />
          <xs:element minOccurs="0" name="SpecimenHolder" nillable="true" type="tns:SpecimenHolder" />
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AH.HR.MODEL" minOccurs="0" name="Technologist" nillable="true" type="q12:LabTechnologist" />
          <xs:element minOccurs="0" name="TestCategory" nillable="true" type="tns:TestCategory" />
          <xs:element minOccurs="0" name="TestFee" nillable="true" type="tns:TestFee" />
          <xs:element minOccurs="0" name="TestMethod" nillable="true" type="tns:TestMethod" />
          <xs:element minOccurs="0" name="TestSubID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TestSubTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TestSubTitleAlias" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TestSubTitleBeng" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TicketNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TicketType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TestSub" nillable="true" type="tns:TestSub" />
  <xs:complexType name="TestMain">
    <xs:sequence>
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q13:EntryParameter" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="TestDepartment" nillable="true" type="q14:Department" />
      <xs:element minOccurs="0" name="TestGroup" nillable="true" type="tns:TestGroup" />
      <xs:element minOccurs="0" name="TestMainID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestMainTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestMainTitleBeng" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestMain" nillable="true" type="tns:TestMain" />
  <xs:complexType name="TestGroup">
    <xs:sequence>
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="Department" nillable="true" type="q15:Department" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EParameter" nillable="true" type="q16:EntryParameter" />
      <xs:element minOccurs="0" name="GroupId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestGroup" nillable="true" type="tns:TestGroup" />
  <xs:complexType name="ReportGroup">
    <xs:sequence>
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="Department" nillable="true" type="q17:Department" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q18:EntryParameter" />
      <xs:element minOccurs="0" name="GroupPanel" nillable="true" type="tns:GroupPanel" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportGroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportGroupTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportGroupTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportSection" nillable="true" type="tns:ReportSection" />
      <xs:element minOccurs="0" name="TestCategory" nillable="true" type="tns:TestCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportGroup" nillable="true" type="tns:ReportGroup" />
  <xs:complexType name="GroupPanel">
    <xs:sequence>
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParam" nillable="true" type="q19:EntryParameter" />
      <xs:element minOccurs="0" name="PanelID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PanelTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PanelTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupPanel" nillable="true" type="tns:GroupPanel" />
  <xs:complexType name="ReportSection">
    <xs:sequence>
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="Department" nillable="true" type="q20:Department" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q21:EntryParameter" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportSectionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportSectionTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportSectionTitleBeng" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportSection" nillable="true" type="tns:ReportSection" />
  <xs:complexType name="TestCategory">
    <xs:sequence>
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EParameter" nillable="true" type="q22:EntryParameter" />
      <xs:element minOccurs="0" name="TestCategoryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestCategoryRemarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestCategoryTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestCategoryTitleBeng" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestCategory" nillable="true" type="tns:TestCategory" />
  <xs:complexType name="Specimen">
    <xs:sequence>
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q23:EntryParameter" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecimenID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecimenTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecimenTitleBeng" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Specimen" nillable="true" type="tns:Specimen" />
  <xs:complexType name="TestMethod">
    <xs:sequence>
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q24:EntryParameter" />
      <xs:element minOccurs="0" name="MethodID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestMethod" nillable="true" type="tns:TestMethod" />
  <xs:complexType name="EmrCollHead">
    <xs:sequence>
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="Department" nillable="true" type="q25:Department" />
      <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="DepartmentGroup" nillable="true" type="q26:DepartmentGroup" />
      <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="DepartmentUnit" nillable="true" type="q27:DepartmentUnit" />
      <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q28:EntryParameter" />
      <xs:element minOccurs="0" name="Fee" type="xs:double" />
      <xs:element minOccurs="0" name="HeadGroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeadID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeadTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeadTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSelectable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetPaid" type="xs:double" />
      <xs:element minOccurs="0" name="PosSerial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Qty" type="xs:double" />
      <xs:element minOccurs="0" name="SetAsDefault" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmrCollHead" nillable="true" type="tns:EmrCollHead" />
</xs:schema>