Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/IPDSR/IPDNEWService15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AH.DMS.MODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AH.DMS.MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:68/IPDNEW/IPDNEWService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" />
  <xs:import schemaLocation="http://localhost:68/IPDNEW/IPDNEWService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/AH.HR.MODEL" />
  <xs:import schemaLocation="http://localhost:68/IPDNEW/IPDNEWService.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/AH.DTMS.MODEL" />
  <xs:import schemaLocation="http://localhost:68/IPDNEW/IPDNEWService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" />
  <xs:import schemaLocation="http://localhost:68/IPDNEW/IPDNEWService.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" />
  <xs:complexType name="ArrayOfEmergencyCollectionMR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmergencyCollectionMR" nillable="true" type="tns:EmergencyCollectionMR" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmergencyCollectionMR" nillable="true" type="tns:ArrayOfEmergencyCollectionMR" />
  <xs:complexType name="EmergencyCollectionMR">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdmissionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DRNo" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="DiagnosticPayment" nillable="true" type="q1:OPDPayment" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AH.HR.MODEL" minOccurs="0" name="Doctor" nillable="true" type="q2:Doctor" />
      <xs:element minOccurs="0" name="EmergencyMR" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AH.DTMS.MODEL" minOccurs="0" name="EmrCollHead" nillable="true" type="q3:EmrCollHead" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q4:EntryParameter" />
      <xs:element minOccurs="0" name="IsAdmAdv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetPaid" type="xs:double" />
      <xs:element minOccurs="0" name="NursingTestOrder" nillable="true" type="tns:NursingTestOrder" />
      <xs:element minOccurs="0" name="PackageID" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AH.IPDShared.MODEL" minOccurs="0" name="Patient" nillable="true" type="q5:InPatient" />
      <xs:element minOccurs="0" name="RefdOrg" nillable="true" type="tns:RefdOrg" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestString1" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AH.OPD.MODEL" minOccurs="0" name="Ticket" nillable="true" type="q6:Ticket" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AH.DTMS.MODEL" minOccurs="0" name="test" nillable="true" type="q7:TestFee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmergencyCollectionMR" nillable="true" type="tns:EmergencyCollectionMR" />
  <xs:complexType name="NursingTestOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="NursingStationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NursingStationTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReqID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NursingTestOrder" nillable="true" type="tns:NursingTestOrder" />
  <xs:complexType name="RefdOrg">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AH.Shared.MODEL" minOccurs="0" name="EntryParameter" nillable="true" type="q8:EntryParameter" />
      <xs:element minOccurs="0" name="OrgID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgTitleBeng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Web" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RefdOrg" nillable="true" type="tns:RefdOrg" />
</xs:schema>