Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/ACMSSR/ACMSService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://it-atik.citygroupbd.com:90/ACMS/ACMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" />
  <xs:import schemaLocation="http://it-atik.citygroupbd.com:90/ACMS/ACMSService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AH.HR.MODEL" />
  <xs:import schemaLocation="http://it-atik.citygroupbd.com:90/ACMS/ACMSService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/AH.DUtility" />
  <xs:element name="GetUserAccessControl">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccessControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="GetUserAccessControlResult" nillable="true" type="q1:ArrayOfAccessControlRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UACGroupReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UACGroupReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="UACGroupReportResult" nillable="true" type="q2:ArrayOfAccessControlRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UACModuleReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModuleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UACModuleReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="UACModuleReportResult" nillable="true" type="q3:ArrayOfAccessControlRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccessReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccessReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="GetUserAccessReportResult" nillable="true" type="q4:ArrayOfAccessControlRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAccessControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="oAccessControlBO" nillable="true" type="q5:AccessControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAccessControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="SaveAccessControlResult" nillable="true" type="q6:AccessControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsAccessControl">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsAccessControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="GetsAccessControlResult" nillable="true" type="q7:ArrayOfAccessControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsAccessControlCbo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsAccessControlCboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="GetsAccessControlCboResult" nillable="true" type="q8:ArrayOfAccessControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAccessControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="oAccessControlBO" nillable="true" type="q9:AccessControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAccessControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="EditAccessControlResult" nillable="true" type="q10:AccessControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccessControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="questid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccessControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="DeleteAccessControlResult" nillable="true" type="q11:AccessControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveObjectSetup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="oObjectSetupBO" nillable="true" type="q12:ObjectSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveObjectSetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveObjectSetupResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsObjectSetupGrid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsObjectSetupGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="GetsObjectSetupGridResult" nillable="true" type="q13:ArrayOfObjectSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsObjectSetupCbo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsObjectSetupCboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="GetsObjectSetupCboResult" nillable="true" type="q14:ArrayOfObjectSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="oUpdate" nillable="true" type="q15:ObjectSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="UpdateObjectResult" nillable="true" type="q16:ObjectSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteObjectSetup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="questid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteObjectSetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="DeleteObjectSetupResult" nillable="true" type="q17:ObjectSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="GetUserModuleResult" nillable="true" type="q18:ArrayOfModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSecQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="oSecurityQuestionBO" nillable="true" type="q19:SecurityQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSecQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="SaveSecQuestionResult" nillable="true" type="q20:SecurityQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsSecurityQuestions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsSecurityQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="GetsSecurityQuestionsResult" nillable="true" type="q21:ArrayOfSecurityQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsSecurityQuestionCbo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsSecurityQuestionCboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="GetsSecurityQuestionCboResult" nillable="true" type="q22:ArrayOfSecurityQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSecQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="oSecurityQuestionBO" nillable="true" type="q23:SecurityQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSecQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="EditSecQuestionResult" nillable="true" type="q24:SecurityQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSecQuest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="questid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSecQuestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="DeleteSecQuestResult" nillable="true" type="q25:SecurityQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="GetsUserResult" nillable="true" type="q26:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsUserGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsUserGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="GetsUserGroupsResult" nillable="true" type="q27:ArrayOfUserGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsUserGroupCbo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsUserGroupCboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="GetsUserGroupCboResult" nillable="true" type="q28:ArrayOfUserGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersCbo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersCboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="GetUsersCboResult" nillable="true" type="q29:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="oUserGroupBO" nillable="true" type="q30:UserGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="SaveUserGroupResult" nillable="true" type="q31:UserGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="oUserBO" nillable="true" type="q32:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="SaveUserResult" nillable="true" type="q33:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="oUserGroupBO" nillable="true" type="q34:UserGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="EditUserGroupResult" nillable="true" type="q35:UserGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="DeleteUserGroupResult" nillable="true" type="q36:UserGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="DeleteUserResult" nillable="true" type="q37:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGroupObjectMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="oGroupObjectMaps" nillable="true" type="q38:ArrayOfGroupObjectMap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGroupObjectMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="SaveGroupObjectMapResult" nillable="true" type="q39:ArrayOfGroupObjectMap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsGroupObjectMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="grpID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsGroupObjectMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="GetsGroupObjectMapResult" nillable="true" type="q40:ArrayOfGroupObjectMap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsObjSetupCbo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModuleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ObjectTypeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsObjSetupCboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="GetsObjSetupCboResult" nillable="true" type="q41:ArrayOfObjectSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGroupObjectMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="oGroupObjectMaps" nillable="true" type="q42:ArrayOfGroupObjectMap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGroupObjectMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="EditGroupObjectMapResult" nillable="true" type="q43:ArrayOfGroupObjectMap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserGroupAssign">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="oUserGroupAssign" nillable="true" type="q44:UserGroupAssign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserGroupAssignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveUserGroupAssignResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsUserNotAssigned">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModuleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsUserNotAssignedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="GetsUserNotAssignedResult" nillable="true" type="q45:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsUserAssigned">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Module" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsUserAssignedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="GetsUserAssignedResult" nillable="true" type="q46:ArrayOfUserGroupAssign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="oUserBO" nillable="true" type="q47:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="EditUserResult" nillable="true" type="q48:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="moduleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="GetUserObjectResult" nillable="true" type="q49:ArrayOfObjectSetup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpoyee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpoyeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/AH.HR.MODEL" minOccurs="0" name="GetEmpoyeeResult" nillable="true" type="q50:EmployeeMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="GetUserResult" nillable="true" type="q51:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="oUserBO" nillable="true" type="q52:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserPasswordResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserObjectList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserObjectListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/AH.DUtility" minOccurs="0" name="GetUserObjectListResult" nillable="true" type="q53:ArrayOfAccessList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsAssignedUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModuleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsAssignedUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="GetsAssignedUserResult" nillable="true" type="q54:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLoginHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/AH.ACMS.MODEL" minOccurs="0" name="oAccessControlBO" nillable="true" type="q55:AccessControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLoginHistoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>