Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/ACMSSR/ACMSService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AH.DUtility" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AH.DUtility" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAccessList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccessList" nillable="true" type="tns:AccessList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccessList" nillable="true" type="tns:ArrayOfAccessList" />
  <xs:complexType name="AccessList">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticationLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjSerial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessList" nillable="true" type="tns:AccessList" />
</xs:schema>