Hospital_ERP_VS13-WCF_WF/AH.ModuleController/Service References/DRSSR/DRSService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AH.DUtility" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AH.DUtility" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Age">
    <xs:sequence>
      <xs:element minOccurs="0" name="Day" type="xs:int" />
      <xs:element minOccurs="0" name="Hour" type="xs:int" />
      <xs:element minOccurs="0" name="Month" type="xs:int" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Age" nillable="true" type="tns:Age" />
  <xs:complexType name="ArrayOfNursingTree">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NursingTree" nillable="true" type="tns:NursingTree" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNursingTree" nillable="true" type="tns:ArrayOfNursingTree" />
  <xs:complexType name="NursingTree">
    <xs:sequence>
      <xs:element minOccurs="0" name="NursingStationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NursingStationTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReqID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NursingTree" nillable="true" type="tns:NursingTree" />
</xs:schema>